<app-invoice-layout>
    <app-invoice-style-label-column [title]="mode.title" labels>
        <label class="customer-label">Név</label>
        <label class="customer-label">Irányítószám és Város</label>
        <label class="customer-label">Utca, házszám</label>
        <label class="customer-label">Számlaszám</label>
        <label class="customer-label">Adószám</label>
        <label class="customer-label">Megjegyzés</label>
    </app-invoice-style-label-column>

    <app-invoice-customer-form left [customer]="senderData" title="SZÁLLÍTÓ"></app-invoice-customer-form>

    <app-invoice-customer-form right [customer]="buyerData" title="VEVŐ"></app-invoice-customer-form>

    <app-invoice-form #invoiceForm middle [editDisabled]="editDisabled" [invoiceFormData]="invoiceFormData"></app-invoice-form>

    <nb-card bottom>
        <nb-card-body>
            <app-inline-editable-table [parent]="this" [allColumns]="allColumns" [colDefs]="colDefs"
                [dbDataDataSrc]="dbDataDataSrc" [wide]="false" [heightMargin]="740" [confirmRowDelete]="true"
                [dbDataTable]="dbDataTable" [dbDataTableId]="dbDataTableId" [trackRows]="trackRows" [isLoading]="isLoading"
                (inputFocusChanged)="inlineInputFocusChanged($event)" (focusInTable)="focusOnTable(true)"
                (focusOutTable)="focusOnTable(false)" (tableKeyDown)="onTableFunctionKeyDown($event)">
            </app-inline-editable-table>
        </nb-card-body>
        <nb-card-footer class="invoice-table-statistics">
            <table class="table-statistics-net-vat-gross">
                <tr>
                    <td>Összes nettó: {{outGoingInvoiceData.invoiceNetAmount | number:'1.2':'fr' | replace:',':'.'}}</td>
                    <td>Összes bruttó: {{outGoingInvoiceData.lineGrossAmount | number:'1.2':'fr' | replace:',':'.'}}</td>
                </tr>
            </table>
        </nb-card-footer>
    </nb-card>

</app-invoice-layout>