@use 'quick-search-modal-deafult';

.display-table {
    display: table !important;
}

.display-flex {
    display: flex;
}

.items-start {
    align-items: start;
}

.h-260px {
    height: 260px;
}

.h-unset {
    height: unset !important;
}
