<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <!-- <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm"
            [KeySetting]="KeySetting"></app-crud-buttons> -->

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.escape)="currentForm.HandleFormEscape($event)" (focusout)="currentForm.HandleFormFocusOut()"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Típus</label>
                    <input nbInput type="text" formControlName="scTypeX"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Raktár</label>
                    <input nbInput type="text" formControlName="warehouse"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Dátum</label>
                    <input nbInput type="datetime" formControlName="stockCardDate" mask="0000-00-00"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Termékkód</label>
                    <input nbInput type="text" formControlName="productCode"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Terméknév</label>
                    <input nbInput type="text" formControlName="product"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Ügyfélnév</label>
                    <input nbInput type="text" formControlName="customer"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Cím</label>
                    <input nbInput type="text" formControlName="customerAdditionalAddressDetail"
                        readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kapcsolódó adatok</label>
                    <input nbInput type="text" formControlName="xRel"
                        readonly>
                </div>
            </nb-form-field>

            <div class="triple-input-column">
                <nb-form-field class="triple-input-column-form-field">
                    <div class="triple-input-column-form-field-inner-div triple-input-column-form-field-inner-div-first">
                        <label class="triple-input-column-form-field-label triple-input-column-first">Eredeti készlet</label>
                        <input class="triple-input-column-form-field-input triple-input-column-first {{TileCssClass}}" nbInput type="text"
                            formControlName="oRealQty" [readonly]="isReadonly" [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field class="triple-input-column-form-field">
                    <div class="triple-input-column-form-field-inner-div triple-input-column-form-field-inner-div-second">
                        <label class="triple-input-column-form-field-label triple-input-column-second">Készletváltozás</label>
                        <input class="triple-input-column-form-field-input triple-input-column-second {{TileCssClass}}" nbInput type="text" formControlName="xRealQty" [readonly]="isReadonly"
                            [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field class="triple-input-column-form-field">
                    <div class="triple-input-column-form-field-inner-div triple-input-column-form-field-inner-div-third">
                        <label class="triple-input-column-form-field-label triple-input-column-third">Új készlet</label>
                        <input class="triple-input-column-form-field-input triple-input-column-third {{TileCssClass}}" nbInput type="text" formControlName="nRealQty" [readonly]="isReadonly"
                            [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="triple-input-column">
                <nb-form-field class="triple-input-column-form-field">
                    <div class="triple-input-column-form-field-inner-div triple-input-column-form-field-inner-div-first">
                        <label class="triple-input-column-form-field-label triple-input-column-first">Eredeti ELÁBÉ</label>
                        <input class="triple-input-column-form-field-input triple-input-column-first {{TileCssClass}}" nbInput type="text" formControlName="oAvgCost"
                            [readonly]="isReadonly" [inputMask]="numberInputMask" placeholder="0.00000"
                            readonly>
                    </div>
                </nb-form-field>
            
                <div class="triple-input-column-form-field"></div>
            
                <nb-form-field class="triple-input-column-form-field">
                    <div class="triple-input-column-form-field-inner-div triple-input-column-form-field-inner-div-third">
                        <label class="triple-input-column-form-field-label triple-input-column-third">Új ELÁBÉ</label>
                        <input class="triple-input-column-form-field-input triple-input-column-third {{TileCssClass}}" nbInput type="text" formControlName="nAvgCost" [readonly]="isReadonly"
                            [inputMask]="numberInputMask" placeholder="0.00000"
                            readonly>
                    </div>
                </nb-form-field>
            </div>
        </form>
    </nb-card-body>
</nb-card>