<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm">
        </app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (focusout)="currentForm.HandleFormFocusOut()" (keydown.escape)="currentForm.HandleFormEscape()"
            (click)="currentForm.HandleFormClick()">

            <ng-container *ngFor="let it of currentForm.colDefs; let rowPos = index" [ngSwitch]="it.fInputType">

                <ng-container *ngSwitchCase="'code-field'">
                    <nb-form-field
                        (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="text" [formControlName]="it.objectKey"
                                    oninput="this.value = this.value.toUpperCase()"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                        </app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'text'">
                    <nb-form-field
                        (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="text" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                        </app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'number'">
                    <nb-form-field
                        (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="number" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                    </nb-form-field>
                    <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                    </app-form-control-error>
                </ng-container>

                <ng-container *ngSwitchCase="'readonly'">
                    <nb-form-field
                        (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input nbInput [type]="it.type" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)" readonly>
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                        </app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'password'">
                    <nb-form-field
                        (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="password" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                        </app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <div class="bbx-fd-checkbox-outer-div" *ngSwitchCase="'bool'"
                    (keydown.enter)="it.fLast ? currentForm.HandleFormLastEnter($event) : currentForm.HandleFormEnter($event)">
                    <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox"
                        [formControlName]="it.objectKey" (click)="currentForm.HandleFormFieldClick($event)">
                    <app-form-control-error [form]="currentForm" [controlName]="it.objectKey" [label]="it.label">
                    </app-form-control-error>
                </div>
            </ng-container>
        </form>
    </nb-card-body>
</nb-card>