<nb-actions size="medium" *ngIf="!!paginator" class="paginator-wrapper">
    <nb-action class="paginator-btn-first" (click)="paginator.firstPage()" icon="arrowhead-left-outline"></nb-action>
    <nb-action class="paginator-btn-previous" (click)="paginator.previousPage()" icon="arrow-ios-back-outline"></nb-action>
    <nb-action class="paginator-label-pages" disabled="true">{{paginator.currentPage}} / {{paginator.allPages}}</nb-action>
    <nb-action class="paginator-btn-next" (click)="paginator.nextPage()" icon="arrow-ios-forward-outline"></nb-action>
    <nb-action class="paginator-btn-last" (click)="paginator.lastPage()" icon="arrowhead-right-outline"></nb-action>
</nb-actions>
