<nb-card class="customer-edit-modal">
    <nb-card-header class="modal-product-active-header">
        <span>Partner módosítás</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" class="modal-product-active-body">
        <form [id]="formId" [formGroup]="formNav.form" #formDirective="ngForm" (keydown.escape)="formNav.HandleFormEscape()">

            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id"
                        (click)="formNav.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Név*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerName"
                        (click)="formNav.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="formNav" label="név" controlName="customerName"></app-form-control-error>
            </nb-form-field>

            <div>
                <label>Bankszámla</label>
                <app-customer-bank-account-number-input [currentForm]="formNav" formFieldName="customerBankAccountNumber"></app-customer-bank-account-number-input>
            </div>

            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Belföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="taxpayerNumber" [patterns]="customPatterns"
                        [mask]="taxNumberMask" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        oninput="this.value = this.value.toUpperCase()"
                        (click)="formNav.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="formNav" label="belföldi adószám" controlName="taxpayerNumber"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Külföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="thirdStateTaxId"
                        [mask]="thirdStateTaxIdMask" [patterns]="customPatterns" [showMaskTyped]="true"

                        (click)="formNav.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="formNav" label="külföldi adószám" controlName="thirdStateTaxId"></app-form-control-error>
            </nb-form-field>

            <div>
                <label>Ország*</label>
                <app-bbx-combo-box [needBlankOption]="false" class="bbx-sidebar-combo" [currentForm]="formNav" formFieldName="countryCode"
                [data$]="countryCodeComboData$"></app-bbx-combo-box>
            </div>

            <nb-form-field class="bbx-fd-form-field-50" (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                    <label class="multicol-label-col-1">Irsz.</label>

                    <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="postalCode"
                         (focusout)="postalCodeInputFocusOut($event)"
                        (click)="formNav.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="formNav" label="irsz." controlName="postalCode"></app-form-control-error>
            </nb-form-field>

            <nb-form-field class="bbx-fd-form-field-50" (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div-2">
                    <label class="multicol-label-col-2">Város*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="city"
                     (focusout)="cityInputFocusOut($event)"
                    (click)="formNav.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="formNav" label="város" controlName="city"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Cím*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="additionalAddressDetail"
                        (click)="formNav.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="formNav" controlName="additionalAddressDetail"></app-form-control-error>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-33" (keydown.enter)="moveToButtons($event)">
                    <label class="label-checkbox">Magánszemély</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}} {{TileCssColClass}}" type="checkbox" formControlName="privatePerson"
                        (click)="formNav.HandleFormFieldClick($event)">

                    <app-form-control-error [form]="formNav" label="magánszemély" controlName="privatePerson"></app-form-control-error>
                </div>
            </div>

        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="ok()" [disabled]="!customerForm.valid" status="primary" tabindex="-1" id="confirm-dialog-button-yes">
            Rendben
        </button>
        <button nbButton (click)="close()" status="danger" tabindex="-1" id="confirm-dialog-button-no">
            Vissza
        </button>
    </nb-card-footer>
</nb-card>
