<nb-card class="customer-edit-modal">
    <nb-card-header class="modal-product-active-header">
        <span>Partner módosítás</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" class="modal-product-active-body">
        <form [id]="formId" [formGroup]="formNav.form" #formDirective="ngForm" (keydown.escape)="formNav.HandleFormEscape()">

            <label class="justify-self-end">Azonosító</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="whole-input">
                <input nbInput type="text" formControlName="id" (click)="formNav.HandleFormFieldClick($event)">
            </nb-form-field>

            <label class="justify-self-end">Név*</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="whole-input">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerName" (click)="formNav.HandleFormFieldClick($event)" required>
                <app-form-control-error [form]="formNav" label="név" controlName="customerName"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Bankszámla</label>
            <div class="whole-input">
                <app-customer-bank-account-number-input [currentForm]="formNav" formFieldName="customerBankAccountNumber"></app-customer-bank-account-number-input>
            </div>

            <label class="justify-self-end">Belföldi Adószám</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="whole-input">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName="taxpayerNumber" [patterns]="customPatterns"
                    [mask]="taxNumberMask" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                    oninput="this.value = this.value.toUpperCase()"
                    (click)="formNav.HandleFormFieldClick($event)">
                <app-form-control-error [form]="formNav" label="belföldi adószám" controlName="taxpayerNumber"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Külföldi Adószám</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="whole-input">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName="thirdStateTaxId"
                    [mask]="thirdStateTaxIdMask" [patterns]="customPatterns" [showMaskTyped]="true"
                    (click)="formNav.HandleFormFieldClick($event)">
                <app-form-control-error [form]="formNav" label="külföldi adószám" controlName="thirdStateTaxId"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Ország*</label>
            <div class="whole-input">
                <app-bbx-combo-box [needBlankOption]="false" class="bbx-sidebar-combo" [currentForm]="formNav" formFieldName="countryCode" [data$]="countryCodeComboData$"></app-bbx-combo-box>
            </div>

            <label class="justify-self-end">Irsz.</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="postalCode"
                    (focusout)="postalCodeInputFocusOut($event)"
                    (click)="formNav.HandleFormFieldClick($event)">
                <app-form-control-error [form]="formNav" label="irsz." controlName="postalCode"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Város*</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName="city"
                    (focusout)="cityInputFocusOut($event)"
                    (click)="formNav.HandleFormFieldClick($event)" required>
                <app-form-control-error [form]="formNav" label="város" controlName="city"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Cím*</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="whole-input">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName="additionalAddressDetail"
                    (click)="formNav.HandleFormFieldClick($event)" required>
                <app-form-control-error [form]="formNav" controlName="additionalAddressDetail"></app-form-control-error>
            </nb-form-field>

            <label class="justify-self-end">Magánszemély</label>
            <div (keydown.enter)="moveToButtons($event)">
                <input class="{{TileCssClass}} {{TileCssColClass}}" type="checkbox" formControlName="privatePerson"
                    (click)="formNav.HandleFormFieldClick($event)">
                <app-form-control-error [form]="formNav" label="magánszemély" controlName="privatePerson"></app-form-control-error>
            </div>

        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="ok()" status="primary" tabindex="-1" id="confirm-dialog-button-yes">
            Rendben
        </button>
        <button nbButton (click)="close()" status="danger" tabindex="-1" id="confirm-dialog-button-no">
            Vissza
        </button>
    </nb-card-footer>
</nb-card>
