<app-head-line msg="Készletkarton"></app-head-line>

<!-- <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="this" [newButton]="true"
    [editButton]="IsTableActive" [resetButton]="false" [saveButton]="false" [deleteButton]="true" [printButton]="true"
    [emailButton]="true" [csvButton]="true" [KeySetting]="KeySetting" wrapperClass="bbx-fd-sidebar-functions-left">
</app-crud-buttons> -->

<div class="filter-div">
    <nb-card class="filter-card">
        <nb-card-body class="filter-card-body">
            <form [formGroup]="filterForm" #formDirective="ngForm" [id]="filterFormId" class="form-with-rows"
                (keydown.escape)="filterFormNav.HandleFormEscape()">
                <div class="form-row">

                    <table class="customer-search-row">
                        <tr>
                            <td>
                                <app-bbx-two-row-combo-box class="bbx-sidebar-combo" [currentForm]="filterFormNav"
                                    formFieldName="WarehouseID" class="nav-configuration" label="Raktár"
                                    [data$]="wareHouseData$">
                                </app-bbx-two-row-combo-box>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-row">
                
                    <table class="customer-search-row">
                        <tr>
                            <td>
                                <nb-form-field class="search-row-nb-form-field"
                                    (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                                    (keydown.F2)="filterFormNav.HandleKeyNoCrud($event, 'ProductSearch')">
                                    <label>Termék</label>
                                    <input formControlName="ProductSearch" nbInput type="text" class="{{TileCssClass}}"
                                        (click)="filterFormNav.HandleFormFieldClick($event)"
                                        (input)="FillFormWithFirstAvailableProduct($event)" [readonly]="isEditModeOff" maxlength="80"
                                        placeholder="Keresés" autocomplete="off" id="r00" />
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Termékkód</label>
                                    <input nbInput type="text" formControlName='productCode' readonly>
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Terméknév</label>
                                    <input nbInput type="text" formControlName='productDescription' readonly>
                                </nb-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="form-row">
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                        <label>Dátumtól</label>
                        <input nbInput type="datetime" formControlName='StockCardDateFrom' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02" mask="0000-00-00"
                            [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                        <app-form-control-error [form]="filterFormNav" label="dátumtól" controlName="StockCardDateFrom">
                        </app-form-control-error>
                    </nb-form-field>
                
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                        <label>Dátumig</label>
                        <input nbInput type="datetime" formControlName='StockCardDateTo' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02" mask="0000-00-00"
                            [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                        <app-form-control-error [form]="filterFormNav" label="dátumig" controlName="StockCardDateTo">
                        </app-form-control-error>
                    </nb-form-field>
                </div>
                
                <div class="form-row">
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                        <label>Bizonylat</label>
                        <input nbInput type="text" formControlName='InvoiceNumber' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff">
                        <app-form-control-error [form]="filterFormNav" label="Bizonylat" controlName="InvoiceNumber">
                        </app-form-control-error>
                    </nb-form-field>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer class="offer-footer">
            <div class="form-row">
                <button [id]="SearchButtonId" nbButton class="{{TileCssClass}}" (click)="Refresh(getInputParams)"
                    status="primary" tabindex="-1">Keresés</button>
            </div>
        </nb-card-footer>
    </nb-card>
</div>

<nb-card>
    <nb-card-body>
        <app-flat-design-table [showMsgOnNoData]="false" [heightMargin]="600" [wide]="true" [allColumns]="allColumns"
            [colDefs]="colDefs" [dbDataDataSrc]="dbDataDataSrc" [dbDataTable]="dbDataTable"
            [dbDataTableId]="dbDataTableId" [trackRows]="trackRows" [isLoading]="isLoading"
            (focusInTable)="focusOnTable(true)" (focusOutTable)="focusOnTable(false)">
        </app-flat-design-table>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
</nb-card>

<app-fkey-buttons-row [flexWrap]="true" *ngIf="isSideBarOpened"></app-fkey-buttons-row>