<nb-actions *ngIf="!!currentForm" size="medium" class="bbx-fd-sidebar-functions">
    <nb-action class="{{TileCssClass}}" id="fd-form-new" class="cl-header-menu" tabIndex="1" nbTooltip="Új"
        nbTooltipStatus="primary" [icon]="{ icon: 'plus-circle-outline', pack: 'eva' }"
        (click)="currentForm.HandleFunctionKey(keyBindings.crudNew)"></nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-reset" class="cl-header-menu" tabIndex="2" nbTooltip="Alaphelyzet"
        nbTooltipStatus="primary" [icon]="{ icon: 'flip-2-outline', pack: 'eva' }"
        (click)="currentForm.HandleFunctionKey(keyBindings.crudReset)">
    </nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-edit" class="cl-header-menu" tabIndex="3" nbTooltip="Mentés"
        nbTooltipStatus="primary" [icon]="{ icon: 'save-outline', pack: 'eva' }"
        (click)="currentForm.HandleFunctionKey(keyBindings.crudSave)">
    </nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-delete" class="cl-header-menu" tabIndex="4" nbTooltip="Törlés"
        nbTooltipStatus="primary" [icon]="{ icon: 'trash-2-outline', pack: 'eva' }"
        [disabled]="currentForm.isDeleteDisabled" (click)="currentForm.HandleFunctionKey(keyBindings.crudDelete)">
    </nb-action>
</nb-actions>