<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Termék részletek</span>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body">
        <form *ngIf="!!_form" [id]="sumFormId" [formGroup]="_form.form" #formDirective="ngForm"
            (focusout)="_form.HandleFormFocusOut()" (click)="_form.HandleFormClick()"><div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Készlet Azonosító</label>
                        <input nbInput type="number" formControlName="id" (click)="_form.HandleFormFieldClick($event)"
                            readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Termék Azonosító</label>
                        <input nbInput type="number" formControlName="productID" (click)="_form.HandleFormFieldClick($event)"
                            readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Termékkód</label>
                    <input nbInput type="text" formControlName="productCode" readonly>
                </div>
            </nb-form-field>
            
            <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Terméknév</label>
                    <input nbInput type="text" formControlName="description" readonly>
                </div>
            </nb-form-field>
            
            <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Csoport</label>
                    <input nbInput type="text" formControlName="productGroup" readonly>
                </div>
            </nb-form-field>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Környezetvédelmi termékdíj</label>
                        <input nbInput type="text" formControlName="productFee" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Utolsó beszár</label>
                        <input nbInput type="text" formControlName="latestSupplyPrice" [inputMask]="numberInputMask"
                            placeholder="0.00" readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Származási hely</label>
                        <input nbInput type="text" formControlName="origin" readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Me.e.</label>
                        <input nbInput type="text" formControlName="unitOfMeasureX" readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Listaár</label>
                        <input nbInput type="text" formControlName="unitPrice1" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Egységár</label>
                        <input nbInput type="text" formControlName="unitPrice2" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Áfakód?</label>
                        <input nbInput type="text" formControlName="vatRateCode" readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Súly</label>
                        <input nbInput type="text" formControlName="unitWeight" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-48 checkbox-wrapper margin-right-10"
                    (keydown.enter)="_form.HandleFormEnter($event)">
                    <label class="label-checkbox">Aktív?</label>
                    <input class="bbx-fd-checkbox" type="checkbox" formControlName="active" readonly>
                </div>
        
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-48 checkbox-wrapper"
                    (keydown.enter)="_form.HandleFormEnter($event)">
                    <label class="label-checkbox">Eng.tilt?</label>
                    <input class="bbx-fd-checkbox" type="checkbox" formControlName="noDiscount" readonly>
                </div>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Minimum készlet</label>
                        <input nbInput type="text" formControlName="minStock" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Rendelési egység</label>
                        <input nbInput type="text" formControlName="ordUnit" [inputMask]="numberInputMask" placeholder="0.00"
                            readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">VTSZ</label>
                        <input nbInput type="text" formControlName="vtsz" mask="9*" readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormLastEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">EAN</label>
                        <input nbInput type="text" formControlName="ean" mask="9{1000}" readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Készlet</label>
                        <input nbInput type="text" formControlName="realQty" readonly [inputMask]="numberInputMask" readonly>
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Átl. beszerzési ár</label>
                        <input nbInput type="text" formControlName="avgCost" readonly [inputMask]="numberInputMask" readonly>
                    </div>
                </nb-form-field>
            </div>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Utolsó bevételezés</label>
                        <input nbInput type="datetime" formControlName="latestIn" readonly mask="0000-00-00">
                    </div>
                </nb-form-field>
            
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div">
                        <label class="multicol-label-col-2">Utolsó kiadás</label>
                        <input nbInput type="datetime" formControlName="latestOut" readonly mask="0000-00-00">
                    </div>
                </nb-form-field>
            </div>
            
            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="_form" formFieldName="location" label="Elhelyezés"
                [data$]="locationsComboData$" [lastFormField]="true" readonly [isReadonly]="true"></app-bbx-combo-box>
        </form>

        <app-flat-design-table [allColumns]="allColumns" [colDefs]="colDefs" [dbDataDataSrc]="dbDataSource"
            [heightMargin]="350"
            [dbDataTable]="dbDataTable" [dbDataTableId]="dbDataTableId" [trackRows]="trackRows" [isLoading]="false"
            (focusInTable)="focusOnTable(true)" (focusOutTable)="focusOnTable(false)">
        </app-flat-design-table>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="close()" status="primary" tabindex="-1"
            id="confirm-dialog-button-close">Bezárás</button>
    </nb-card-footer>
</nb-card>