<nb-card>
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body class="form-col-1">
        <form id="loginForm" [formGroup]="loginFormNav.form" #formDirective="ngForm"
            (keydown.escape)="loginFormNav.HandleFormEscape()">
            <div class="login_row">
                <label>Raktár</label>
                <app-bbx-combo-box [labelAboveField]="false" [needErrorMsg]="false" [currentForm]="loginFormNav"
                    formFieldName="wareHouse" label="" [needBlankOption]="false" [simpleMode]="false" [data$]="wareHouseComboData$">
                </app-bbx-combo-box>
            </div>

            <div class="login_row" (keydown.enter)="loginFormNav.HandleFormEnter($event)">
                <label>Felhasználó</label>
                <input class="{{TileCssClass}}" nbInput type="text" formControlName='username' required="true"
                 (click)="loginFormNav.HandleFormFieldClick($event)">
            </div>
    
            <div class="login_row" (keydown.enter)="MoveToSaveButtons($event)">
                <label>Jelszó</label>
                <input class="{{TileCssClass}}" nbInput type="password" formControlName='password' required="true"
                 (click)="loginFormNav.HandleFormFieldClick($event)">
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="{{TileCssClass}}" id="login-button-login" nbButton (click)="close(true)" status="primary" tabindex="-1">Belépés</button>
        <button class="{{TileCssClass}}" id="login-button-cancel" nbButton (click)="close(false)" status="danger" tabindex="-1">Mégse</button>
    </nb-card-footer>
</nb-card>