<nb-card>
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body class="form-col-1">
        <form id="loginForm" [formGroup]="loginFormNav.form" #formDirective="ngForm"
            (keydown.escape)="loginFormNav.HandleFormEscape()">
            <nb-form-field (keydown.enter)="loginFormNav.HandleFormEnter($event)">
                <input class="{{TileCssClass}}" nbInput type="text" formControlName='username' required="true"
                 (click)="loginFormNav.HandleFormFieldClick($event)">
            </nb-form-field>
    
            <nb-form-field (keydown.enter)="MoveToSaveButtons($event)">
                <input class="{{TileCssClass}}" nbInput type="password" formControlName='password' required="true"
                 (click)="loginFormNav.HandleFormFieldClick($event)">
            </nb-form-field>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="{{TileCssClass}}" id="login-button-login" nbButton (click)="close(true)" status="primary" tabindex="-1">Login</button>
        <button class="{{TileCssClass}}" id="login-button-cancel" nbButton (click)="close(false)" status="danger" tabindex="-1">Cancel</button>
    </nb-card-footer>
</nb-card>