button {
    margin-right: 25px;
}

form {
    display: flex;
    flex-direction: column;
    
    row-gap: 5px;

    .login_row {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-content: center;
        justify-content: space-between;
        align-items: center;

        column-gap: 10px;

        label {
            min-width: 100px;
        }
    }
}
