<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm"
            [KeySetting]="KeySetting" [newButton]="false" [editButton]="false" [deleteButton]="false" [saveButton]="false"
            [resetButton]="false" [lockButton]="true" [lockButtonDisabled]="!isWhsReady">
        </app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (focusout)="currentForm.HandleFormFocusOut()" (keydown.escape)="currentForm.HandleFormEscape($event)"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Bizonylatszám</label>
                    <input nbInput type="text" formControlName="whsTransferNumber" readonly>
                </div>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Kiadás raktár</label>
                        <input nbInput type="text" formControlName="fromWarehouse" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Bevétel raktár</label>
                        <input nbInput type="text" formControlName="toWarehouse" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Dátum</label>
                        <input nbInput type="datetime" formControlName="transferDate" readonly mask="0000-00-00">
                    </div>
                </nb-form-field>

                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div">
                        <label class="multicol-label-col-2">Státusz</label>
                        <input nbInput type="text" formControlName="whsTransferStatusX" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Érték</label>
                        <input nbInput type="text" formControlName="whsTransferAmount" [inputMask]="numberInputMask"
                            placeholder="0.00" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Felhasználó</label>
                        <input nbInput type="text" formControlName="user" readonly>
                    </div>
                </nb-form-field>
            </div>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>
                    <input nbInput type="text" formControlName="notice" readonly>
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>