@use 'side-bar-form-default';

.innerhtml {
    border: 1px solid black;
    width: 100%;
    min-height: 100px;
    margin-top: 2px;
}

.bbx-fd-form-field-wrapper-div-row {
    column-gap: 10px !important;
}