<nb-card *ngIf="InProgress && IsSimpleStatusMessage" class="simple">
    <nb-card-body>
        <div class="title">{{_actualStatus.title}}</div>
        <div class="spinner" [nbSpinner]="true" nbSpinnerStatus="primary"></div> <!--  [nbSpinnerMessage]="_actualStatus.msg" -->
        <!-- <nb-progress-bar [value]="_actualStatus.value" status="primary" size="giant"></nb-progress-bar> -->
    </nb-card-body>
</nb-card>
<nb-card *ngIf="InProgress && !IsSimpleStatusMessage" class="normal">
    <nb-card-body>
        <div class="title">{{_actualStatus.title}}</div>
        <div class="spinner" [nbSpinner]="true" nbSpinnerStatus="primary" [nbSpinnerMessage]="_actualStatus.msg"></div>
        <nb-progress-bar [value]="_actualStatus.value" status="primary" size="giant"></nb-progress-bar>
    </nb-card-body>
</nb-card>