<div class="layout-grid">
    <div class="inner-grid-top">
        <!-- LABELS -->
        <ng-content select="[labels]"></ng-content>

        <div class="card-col separator-vertical"></div>

        <!-- CUSTOMER FORM -->
        <ng-content select="[left]"></ng-content>

        <div class="card-col separator-vertical"></div>

        <!-- CUSTOMER FORM -->
        <ng-content select="[right]"></ng-content>
    </div>

    <div class="separator-horizontal"></div>

    <!-- DATA FORM -->
    <ng-content select="[middle]"></ng-content>

    <div class="separator-horizontal"></div>

    <!-- TABLE -->
    <ng-content select="[bottom]"></ng-content>
</div>