<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Gyorskeresés</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" class="modal-product-active-body">
        <form id="productSearchDialogForm" [formGroup]="formNav.form" #formDirective="ngForm" class="form-with-rows" autocomplete="off">
            <div class="form-row">
                <nb-radio-group formControlName="chooser" class="bbx-radiogroup">
                    <nb-radio checked="true"
                        [value]="1">Névre</nb-radio>
                    <nb-radio
                        [value]="2">Kódra</nb-radio>
                </nb-radio-group>
            </div>
            <div class="form-row">
                <label>Keresés</label> <!-- class="search-label" for="search"--> <!--class="search-input" -->
                <input id="active-prod-search" nbInput type="text" formControlName='searchString'
                    oninput="this.value = this.value.toUpperCase()" (keyup)="refreshFilter($event)">

                <button nbButton class="btn-util" id="show-all" (click)="showAll()">Összes mutatása</button>
                <!-- <button nbButton class="btn-util" id="show-less" (click)="showLess()">Kevesebb mutatása</button> -->

                <span class="loading-label" *ngIf="isLoading">Betöltés...</span>
            </div>
        </form>

        <table class="card-table-header" [nbTreeGrid]="dbDataSource" [trackBy]="trackRows" equalColumnsWidth>
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef
                    [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.width]="it.colWidth">
                        {{it.label}}
                    </th>
                </ng-container>
            </ng-container>
        </table>

        <table class="table-active-product card-table-wrapper" [nbTreeGrid]="dbDataSource" [nbSort]="dbDataSource"
            [trackBy]="trackRows" equalColumnsWidth>
        
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
        
                    <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                        *nbTreeGridCellDef="let row; let rowPos = index"
                        (keydown.enter)="selectRow($event, row)"
                        (keydown)="dbDataTable.HandleGridMovement($event, row, rowPos, it.objectKey, colPos, true)"
                        (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                        (dblclick)="selectRow($event, row)"
                        [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.width]="it.colWidth"
                        [style.text-align]="it.textAlign"
                        id="{{'TABLE-CELL-' + colPos + '-' + rowPos}}" [ngSwitch]="it.type">
                        <ng-container>
                            <ng-container *ngSwitchCase="'code-field'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchCase="'formatted-number'">
                                <div>
                                    {{
                                    it.calc !== undefined ?
                                    it.calc(row.data) :
                                    row.data[it.objectKey] | removeWhitespaces | number:'1.2':'fr' |
                                    replace:',':'.'
                                    }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchCase="'param-padded-formatted-integer'">
                                <div>
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:(!!it.calc ? it.calc(row.data) :
                                    '8.2'):'fr' |
                                    removeWhitespaces | replace:',':'.' }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchCase="'checkbox'">
                                <div>
                                    {{ row.data[it.objectKey] ? '✓' : '✗' }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchCase="'formatted-number-2'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] |
                                    number:'1.1-5' }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchCase="'formatted-number-integer'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>
        
                            <ng-container *ngSwitchDefault="">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </table>

        <div class="msg">{{responseMessage}}</div>
    </nb-card-body>
</nb-card>