<nb-card>
    <nb-card-body class="form-col-2">
        <form class="form-horizontal" [formGroup]="outInvForm" #formDirective="ngForm" [id]="outInvFormId"
            (keydown.escape)="outInvFormNav.HandleFormEscape()">
            <app-bbx-combo-box-invoice class="bbx-sidebar-combo" [currentForm]="outInvFormNav" formFieldName="paymentMethod" label="Fizetési mód"
                [data$]="paymentMethodOptions$" [simpleMode]="true" [readonly]="editDisabled"></app-bbx-combo-box-invoice>

            <nb-form-field (keydown.enter)="outInvFormNav.HandleFormEnter($event, true)">
                <label>Teljesítési időpont</label>
                <input nbInput type="datetime" formControlName='invoiceDeliveryDate' required="true"
                    class="{{tileCssClass}}" [readonly]="editDisabled" id="m01" mask="0000-00-00"
                    [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">

                <app-form-control-error [form]="outInvFormNav"
                    controlName="invoiceDeliveryDate" [validationParameterDate]="invoiceIssueDateValue">
                </app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="outInvFormNav.HandleFormEnter($event, true)">
                <label>Számla keltezése</label>
                <input nbInput type="datetime" formControlName='invoiceIssueDate' required="true"
                    class="{{tileCssClass}}" [readonly]="editDisabled" id="m02" mask="0000-00-00"
                    [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">

                <app-form-control-error [form]="outInvFormNav"
                    controlName="invoiceIssueDate" [validationParameterDate]="invoiceIssueDateValue">
                </app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="outInvFormNav.HandleFormEnter($event, true)">
                <label>Fizetési határidő</label>
                <input nbInput type="datetime" formControlName='paymentDate' required="true"
                    class="{{tileCssClass}}" [readonly]="editDisabled" id="m03" mask="0000-00-00"
                    [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">

                <app-form-control-error [form]="outInvFormNav" controlName="paymentDate"
                    [validationParameterDate]="invoiceIssueDateValue"
                    [validationParameterDateSecondary]="invoiceDeliveryDateValue">
                </app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="outInvFormNav.HandleFormEnter($event, true)">
                <label>Számla sorszáma</label>
                <input nbInput type="text" formControlName='invoiceOrdinal' readonly
                    placeholder="Számla sorszáma" id="m04">
            </nb-form-field>

            <nb-form-field class="form-field-full-width"
                (keydown.enter)="outInvFormNav.HandleFormEnter($event, true)">
                <div class="form-field-full-width-inner-div">
                    <label>Egyéb adatok</label>
                    <input nbInput type="text" formControlName='notice' [readonly]="editDisabled"
                        class="{{tileCssClass}}" placeholder="Egyéb adatok" id="m11">
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>
