nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex: 1 0 18%;
    }

    nb-form-field {
        min-width: 20% !important;

        input,
        nb-select {
            min-width: 100% !important;
        }
    }

    .form-field-full-width {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;
    }

    .form-field-full-width-inner-div {
        // display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;

        column-gap: 25px;

        input {
            // max-width: 100% !important;
            min-width: calc(100vw - 25px) !important;
        }

        label {
            min-width: fit-content;
        }
    }
}
