nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.form-col-2 {
    padding: 8px 24px;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 10px;

    .last-field {
        margin: unset;
        max-width: unset;
        flex-basis: 100%;

        .notice {
            display: flex;
            align-items: center;
            gap: 10px;

            label {
                white-space: nowrap;
            }

            input {
                max-width: unset;
            }
        }
    }
}
