<nb-card class="modal-product-active cusomer-has-peding-invoice {{themeClass}}">
    <nb-card-header class="modal-product-active-header">
        <span>Partnerek</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" class="modal-product-active-body {{themeClass}}">

        <table class="card-table-header {{themeClass}}" [nbTreeGrid]="dbDataSource" [trackBy]="trackRows" equalColumnsWidth>
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef
                    [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.width]="it.colWidth">
                        {{it.label}}
                    </th>
                </ng-container>
            </ng-container>
        </table>

        <table class="table-active-product card-table-wrapper {{themeClass}}" [nbTreeGrid]="dbDataSource" [trackBy]="trackRows" equalColumnsWidth>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
                    <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                        *nbTreeGridCellDef="let row; let rowPos = index" (keydown.enter)="selectRow($event, row)"
                        (keydown)="HandleGridMovement($event, row, rowPos, it.objectKey, colPos, true)"
                        (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                        [style.text-align]="it.textAlign"
                        (dblclick)="selectRow($event, row)"
                        [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.width]="it.colWidth"
                        id="{{'TABLE-CELL-' + colPos + '-' + rowPos}}">

                        <ng-container>
                            <ng-container *ngSwitchCase="'code-field'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'formatted-number'">
                                <div>
                                    {{
                                    it.calc !== undefined ?
                                    it.calc(row.data) :
                                    row.data[it.objectKey] | removeWhitespaces | number:'1.2':'fr' |
                                    replace:',':'.'
                                    }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'param-padded-formatted-integer'">
                                <div>
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:(!!it.calc ? it.calc(row.data) :
                                    '8.2'):'fr' |
                                    removeWhitespaces | replace:',':'.' }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'checkbox'">
                                <div>
                                    {{ row.data[it.objectKey] ? '✓' : '✗' }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'formatted-number-2'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] |
                                    number:'1.1-5' }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'formatted-number-integer'">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'bool'">
                                <div>
                                    {{ row.data[it.objectKey] ? '❗️' : '' }}
                                </div>
                            </ng-container>

                            <ng-container *ngSwitchDefault="">
                                <div>
                                    {{ it.calc !== undefined ? it.calc(row.data) : row.data[it.objectKey] }}
                                </div>
                            </ng-container>


                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>