<app-invoice-layout>
    <!-- <nb-card labels>
        <nb-card-header class="card-header-txt-center card-header-top-margin header-blank">-</nb-card-header>
        <nb-card-body class="form-col-1 card-labels-right">
            <label>Név</label>
            <label>Irányítószám és Város</label>
            <label>Utca, házszám</label>
            <label>Számlaszám</label>
            <label>Adószám</label>
            <label>Megjegyzés</label>
        </nb-card-body>
    </nb-card>
    <app-invoice-customer-form left></app-invoice-customer-form>
    <app-invoice-customer-form right></app-invoice-customer-form>
    <app-inline-editable-table bottom></app-inline-editable-table> -->

    <!-- LAYOUT TEST -->
    <div style="background-color: green; min-width: 100%; min-height: 100%;" labels></div>
    <div style="background-color: blue; min-width: 100%; min-height: 100%;" left></div>
    <div style="background-color: yellow; min-width: 100%; min-height: 100%;" right></div>
    <div style="background-color: red; min-width: 100%; min-height: 100%;" middle></div>
    <div style="background-color: gray; min-width: 100%; min-height: 100%;" bottom></div>
</app-invoice-layout>