.div-text-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
}

nb-card {
    background: none;
    border: none;
    margin: 0px;

    table.table-statistics-net-vat-gross {
        right: 100px !important;
        position: fixed;

        column-gap: 25px;
        padding: 5px;
        border-spacing: 15px 0px;

        td {
            min-width: 300px;
            text-align: left;
        }
    }
}