button {
    margin-right: 25px;
}

iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #604889;
    resize: both;
}

.button-footer {
    display: flex;
    justify-content: center;
}