<nb-actions *ngIf="!!currentForm" size="medium">
    <nb-action class="{{TileCssClass}}" id="fd-form-new" class="cl-header-menu" tabIndex="1"
        [icon]="{ icon: 'plus-circle-outline', pack: 'eva' }" (click)="currentForm.ActionNew()"></nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-reset" class="cl-header-menu" tabIndex="2"
        [icon]="{ icon: 'flip-2-outline', pack: 'eva' }" (click)="currentForm.ActionReset()"></nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-edit" class="cl-header-menu" tabIndex="3"
        [icon]="{ icon: 'save-outline', pack: 'eva' }" (click)="currentForm.ActionPut()"></nb-action>
    <nb-action class="{{TileCssClass}}" id="fd-form-delete" class="cl-header-menu" tabIndex="4"
        [icon]="{ icon: 'trash-2-outline', pack: 'eva' }" (click)="currentForm.ActionDelete()"></nb-action>
</nb-actions>

<form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" (keydown.enter)="$event.preventDefault()"
    #formDirective="ngForm" (keydown.escape)="currentForm.HandleFormEscape()">

    <nb-form-field *ngFor="let it of currentForm.colDefs; let colPos = index">
        <div class="bbx-fd-form-field-inner-div">
            <ng-container [ngSwitch]="it.fInputType">
                <label>{{it.label}}</label>
                <input *ngSwitchCase="'text'" class="{{TileCssClass}}" nbInput type="text" [formControlName]="it.objectKey"
                    (keydown.f12)="close()" [required]="it.fRequired ?? false">
                <input *ngSwitchCase="'readonly'" nbInput type="text" [formControlName]="it.objectKey" readonly>
                <input *ngSwitchCase="'password'" class="{{TileCssClass}}" nbInput type="password"
                    [formControlName]="it.objectKey" (keydown.f12)="close()" [required]="it.fRequired ?? false">
            </ng-container>
        </div>
    </nb-form-field>
</form>