<div *ngIf="!!currentForm" class="bbx-fd-sidebar-functions">
    <button class="{{TileCssClass}}" id="fd-form-new" nbButton (click)="currentForm.ActionNew()" status="primary"
        tabindex="1">Új</button>
    <button class="{{TileCssClass}}" id="fd-form-reset" nbButton (click)="currentForm.ActionReset()" status="primary"
        tabindex="2">Alaphelyzet</button>
    <button class="{{TileCssClass}}" id="fd-form-edit" nbButton (click)="currentForm.ActionPut()" status="primary"
        tabindex="3">Mentés</button>
    <button class="{{TileCssClass}}" id="fd-form-delete" nbButton (click)="currentForm.ActionDelete()" status="primary"
        tabindex="4">Törlés</button>
</div>

<form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" (keydown.enter)="$event.preventDefault()"
    #formDirective="ngForm" (keydown.escape)="currentForm.HandleFormEscape()">

    <nb-form-field *ngFor="let it of currentForm.colDefs; let colPos = index">
        <ng-container [ngSwitch]="it.fInputType">
            <label>{{it.label}}</label>
            <input *ngSwitchCase="'text'" class="{{TileCssClass}}" nbInput type="text" [formControlName]="it.objectKey"
                (keydown.f12)="close()"
                [required]="it.fRequired ?? false">
        </ng-container>
    </nb-form-field>
</form>