<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Árváltozás</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="showSpinnerOnTable" class="modal-product-active-body">
        <form [id]="formId" [formGroup]="productPriceChangeForm" #formDirective="ngForm">
            <label>
                Termék
            </label>
            <input nbInput type="text" formControlName="productCode" readonly>
            <input nbInput type="text" formControlName="productDescription" readonly>

            <label class="old-price text-center">
                Régi ár
            </label>
            <label class=" text-center">
                Új ár
            </label>

            <label>
                Listaár
            </label>
            <input nbInput [inputMask]="numberInputMask" type="text" formControlName="oldUnitPrice1" readonly>
            <div (keydown.enter)="navigateable.HandleFormEnter($event)">
                <input class="{{TileCssClass}} " nbInput [inputMask]="numberInputMask" placeholder="0.00" type="text" formControlName="newUnitPrice1"
                    (focus)="fixCursorPosition($event)" #newUnitPrice1>
            </div>

            <label>
                Egységár
            </label>
            <input nbInput [inputMask]="numberInputMask" type="text" formControlName="oldUnitPrice2" readonly>
            <div (keydown.enter)="moveToButtons($event)">
                <input class="{{TileCssClass}} " nbInput [inputMask]="numberInputMask" placeholder="0.00" type="text" formControlName="newUnitPrice2"
                    (focus)="fixCursorPosition($event)">
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="changePrice()" status="primary" tabindex="-1" id="confirm-dialog-button-yes">
            OK
        </button>
        <button nbButton (click)="close()" status="danger" tabindex="-1" id="confirm-dialog-button-no">
            Vissza
        </button>
    </nb-card-footer>
</nb-card>
