<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Árváltozás</span>
    </nb-card-header>
    <nb-card-body [nbSpinner]="showSpinnerOnTable" class="modal-product-active-body">
        <div *ngIf="!canUnitPrice1Change" class="alert-error no-unitPrice2-change">
            Nincs listaár-változás!
        </div>
        <div *ngIf="isUnitPrice1InsideMinMargin || isUnitPrice2InsideMinMargin" class="alert-error no-unitPrice2-change">
            Minimum árrésen belüli ár
        </div>

        <form [id]="formId" [formGroup]="productPriceChangeForm" #formDirective="ngForm">
            <label>
                Termék
            </label>
            <input nbInput type="text" formControlName="productCode" readonly>
            <input nbInput type="text" formControlName="productDescription" readonly>

            <label class="old-price text-center">
                Régi ár
            </label>
            <div class="label-row">
                <label class="alert-error" [style.visibility]="isProductNoDiscount ? 'visible' : 'hidden'">
                    Akciós
                </label>

                <label class="new-price">
                    Új ár
                </label>

                <div class="min-margin">
                    <label>
                        Min. árrés%:
                    </label>
                    <input nbInput type="text" formControlName="minMargin" readonly>
                </div>
            </div>

            <label>
                Listaár
            </label>
            <input nbInput [inputMask]="numberInputMask" type="text" formControlName="oldUnitPrice1" readonly>
            <div (keydown.enter)="navigateable.HandleFormEnter($event)">
                <app-bbx-numeric-input
                    formControlName="newUnitPrice1"
                    class="grid"
                    input_class="{{TileCssClass}} valami-2"
                    [useFixCursorPosition]="true"
                    [inputmask]="numberInputMask"
                    placeholder="0.00"
                    [canCloseCalculatorWithEscape]="false"
                    #newUnitPrice1>
                </app-bbx-numeric-input>

                <div *ngIf="newUnitPrice1Control?.errors?.['notGreatherThanNewPrice']" class="alert-error">
                    A megadott ár alacsonyabb, mint a beszerzési ár.
                </div>
            </div>

            <label>
                Egységár
            </label>
            <input nbInput [inputMask]="numberInputMask" type="text" formControlName="oldUnitPrice2" readonly>
            <div (keydown.enter)="moveToButtons($event)">
                <app-bbx-numeric-input
                    formControlName="newUnitPrice2"
                    class="grid"
                    input_class="{{TileCssClass}}"
                    [useFixCursorPosition]="true"
                    [inputmask]="numberInputMask"
                    placeholder="0.00"
                    [canCloseCalculatorWithEscape]="false">
                </app-bbx-numeric-input>

                <div *ngIf="newUnitPrice2Control?.errors?.['notGreatherThanNewPrice']" class="alert-error">
                    A megadott ár alacsonyabb, mint a beszerzési ár.
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="changePrice()" status="primary" tabindex="-1" id="confirm-dialog-button-yes">
            OK
        </button>
        <button nbButton (click)="close()" status="danger" tabindex="-1" id="confirm-dialog-button-no">
            Vissza
        </button>
    </nb-card-footer>
</nb-card>
