@use 'side-bar-form-default';
@use 'side-bar-form-dialog';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input.right {
    text-align: right;
}

.alert-error  {
    &.no-unitPrice2-change {
        text-align: center;
    }
}

.label-row {
    display: flex;
    justify-content: space-between;

    .new-price {
        flex-grow: 1;
        text-align: center;
    }

    .min-margin {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        input {
            width: 80px;
        }
    }
}

form {
    overflow-y: hidden;
    height: auto !important;

    display: grid;
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-columns: 0.4fr 0.8fr 3.5fr;

    row-gap: 8px;
    column-gap: 25px;

    align-items: center;

    label {
        width: unset;
        min-width: unset;
    }

    .old-price {
        grid-column-start: 2;
    }

    .grid {
        display: grid !important;
    }

    .flex {
        display: flex;
    }

    input,
    div input {
        max-width: unset !important;
    }
}

.modal-product-active {
    border: 4px yellow double;

    min-width: 1100px;
    max-height: 675px;

    button {
        margin-right: 25px;
    }

    .modal-product-active-header {
        border-bottom: 1px yellow solid;

        padding-top: 15px;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        row-gap: 5px;

        font-size: 1.1rem !important;
    }

    .modal-product-active-footer {
        border-top: 1px yellow solid;
        color: white;
        text-align: left;
        &,
        * {
            font-size: 1.1rem !important;
        }
        .metadata-footer {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            .label-footer-title {
                color: yellow;
            }
            .label-footer-discount {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                .label-footer-discount-value {
                    color: yellow;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }

    .btn-group {
        padding-left: 5px !important;
        padding-right: 5px !important;

        align-self: baseline !important;

        margin-top: 20px;

        button {
            background: none !important;
            padding: 0px !important;
            max-height: 30px !important;
            border: none !important;

            color: white !important;
            font-size: 1.1rem !important;
        }

        button:focus {
            background: gray !important;
            border-radius: 0px !important;

            color: rgb(182, 173, 230) !important;
        }
    }

    .modal-product-active-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .separator-horizontal {
        margin: 0px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    :host nb-tab {
        padding: 1.25rem;
    }
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 27, 88, 0.767) !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(85, 84, 180, 0.966) !important;
}

.text-transparent {
    color: transparent;
}