@use 'invoice-common';

$td-height: 30px;

.div-wrapper-input {
    display: flex;

    align-items: center;
    column-gap: 15px;

    flex-flow: wrap;
}

nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.card-labels-right {
    display: flex;
    flex-direction: column;

    text-align: right;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-labels-left {
    display: flex;
    flex-direction: column;

    text-align: left;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

nb-card-header {
    padding: 0px;
}

.card-row {
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .card-col-labels {
        ::ng-deep nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            width: 15vw;
            form {
                min-width: fit-content;
                margin: auto;
            }
        }
    }

    .card-col-1,
    .card-col-2 {
        width: 40vw;

        nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
        }
    }

    .card-cols {
        display: flex;
        flex-direction: row;
    }
}

.card-col,
.card-col-1 {
    margin: 0;
}

.card-col-2 {
    @media (max-height: 1000px) {
        nb-card-body {
            padding: 0.2rem 0.8rem !important;
        }
    }
}

.form-col-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}



////////////////////////////////////////



.nb-overlay-bottom {
  background: transparent !important;
  box-shadow: none !important;
}

.layout {
  min-height: 10vh !important;
  padding: 0px !important;
}

.card-header-txt-center {
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
}

.card-title {
  background: none !important;
  border: none !important;

  margin-bottom: 0px !important;

  text-align: center;
  font-size: larger !important;
  text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #493668 !important;
}

th {
    background: rgb(35, 35, 75);
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

nb-layout-column {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;

    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 5px !important;
    padding-top: 0px !important;
}

.header-blank {
  color: transparent !important;
}

.flex-text-center {
  display: flex;
  justify-items: center;
}

.separator-vertical {
  background: #3ed820;
  width: 5px;
  border: #000000 1px solid;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.separator-horizontal {
  background: #3ed820;
  height: 5px;
  border: #000000 1px solid;
  margin: auto;
}

::ng-deep nb-card-header {
    font-size: 2rem !important;
}

nb-layout-footer.custom {
  nav {
    padding: 0px !important;
    background: none !important;
  }
}

input, label, th, td {
    font-size: 1.1rem;
}

.invoice-table-statistics {
    padding: 0px;
    padding-right: 75px;

    width: 100%;
    text-align: right;

    span.line-amount {
        font-size: 1rem;
        margin-left: 25px;
    }
}
