$td-height: 30px;

nb-form-field {
    margin: 10px;

    margin-left: auto;
    margin-right: auto;
}

.customer-search-row {
    margin-top: 25px;
    display: block;

    tr {
        display: grid;
        align-items: center;
        grid-template-columns: 35% 15% 50%;
        min-width: 100%;

        td {
            // width: 50%;

            input {
                min-width: 50% !important;
                // max-width: 50%;
            }

            .card-header-top-margin {
                margin-top: 0px;
            }

            .card-header-row-txt {
                text-align: left;
                margin-left: 10px;

                font-size: xx-large;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    .btn-hide {
        visibility: hidden;
    }
    .btn-show {
        visibility: visible;
    }
}

.card-header-top-margin {
  margin-top: 25px;
  margin-bottom: 5px;
}

.div-wrapper-input {
    display: flex;

    align-items: center;
    column-gap: 15px;

    flex-flow: wrap;
}

nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.card-table-wrapper {
    display: block;

    position: sticky;
    top: 0;

    margin: auto;

    max-height: calc(100vh - 600px) !important;
    
    @media (max-height: 1000px) {
        td {
            padding: 0.0rem 1.25rem !important;
        }
    }

    tr > th {
        position: sticky;
        top: -1px;
    }

    tr:nth-child(even) {
        background-color: #493668 !important;

        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                background-color: #5f4981 !important;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    font-size: 1.1rem !important;

                    color: #ffffff;
                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    tr:nth-child(odd) {
        background-color: #323258 !important;

        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                background-color: #3b3b63 !important;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    font-size: 1.1rem !important;

                    color: #ffffff;
                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    th {
        background: rgb(35, 35, 75);
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
    }

    .td-focusable:focus {
        background: darkblue;
    }

    tr:last-child {
        background-color: #524469 !important;

        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                background-color: rgb(75, 75, 121) !important;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }

                    font-size: 1.1rem !important;

                    color: #ffffff;
                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 27, 88, 0.767) !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(85, 84, 180, 0.966) !important;
}

.card-labels-right {
    display: flex;
    flex-direction: column;

    text-align: right;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-labels-left {
    display: flex;
    flex-direction: column;

    text-align: left;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

nb-form-field {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

nb-card-header {
    padding: 0px;
}

.card-row {
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .card-col-labels {
        ::ng-deep nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            width: 15vw;
            form {
                min-width: fit-content;
                margin: auto;
            }
        }
    }

    .card-col-1,
    .card-col-2 {
        width: 40vw;
        margin: auto;

        nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            form {
                min-width: fit-content;
                margin: auto;

                nb-form-field {
                    min-width: fit-content !important;
                    margin: 0;

                    input {
                        min-width: 38vw;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    .card-cols {
        display: flex;
        flex-direction: row;
    }
}

.card-col,
.card-col-1 {
    margin: 0;
}

.card-col-2 {
    @media (max-height: 1000px) {
        nb-card-body {
            padding: 0.2rem 0.8rem !important;
        }
    }
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex: 1 0 18%;
    }

    nb-form-field {
        min-width: 20% !important;

        input,
        nb-select {
            min-width: 100% !important;
        }
    }

    .form-field-full-width {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;
    }

    .form-field-full-width-inner-div {
        // display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;

        column-gap: 25px;

        input {
            // max-width: 100% !important;
            min-width: calc(100vw - 25px) !important;
        }

        label {
            min-width: fit-content;
        }
    }
}



////////////////////////////////////////



.nb-overlay-bottom {
  background: transparent !important;
  box-shadow: none !important;
}

.layout {
  min-height: 10vh !important;
  padding: 0px !important;
}

.card-header-txt-center {
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
}

.card-title {
  background: none !important;
  border: none !important;

  margin-bottom: 0px !important;

  text-align: center;
  font-size: larger !important;
  text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #493668 !important;
}

th {
    background: rgb(35, 35, 75);
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

nb-layout-column {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;

    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 5px !important;
    padding-top: 0px !important;
}

.header-blank {
  color: transparent !important;
}

.flex-text-center {
  display: flex;
  justify-items: center;
}

.separator-vertical {
  background: #3ed820;
  width: 5px;
  border: #000000 1px solid;
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.separator-horizontal {
  background: #3ed820;
  height: 5px;
  border: #000000 1px solid;
  margin: auto;
}

::ng-deep nb-card-header {
    font-size: 2rem !important;
}

nb-layout-footer.custom {
  nav {
    padding: 0px !important;
    background: none !important;
  }
}

input, label, th, td {
    font-size: 1.1rem;
}

.invoice-table-statistics {
    padding: 0px;
    padding-right: 75px;

    width: 100%;
    text-align: right;

    span.line-amount {
        font-size: 1rem;
        margin-left: 25px;
    }
}