<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Termék létrehozása és kiválasztása</span>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body">
        <form *ngIf="!!_form" [id]="sumFormId" [formGroup]="_form.form" #formDirective="ngForm"
            (focusout)="_form.HandleFormFocusOut()" (keydown.escape)="_form.HandleFormEscape()"
            (click)="_form.HandleFormClick()">
        
            <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kód*</label>
        
                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="productCode" #codeInput
                        [dropSpecialCharacters]="false" oninput="this.value = this.value.toUpperCase()"
                        (focus)="moveCursor(codeInput)" mask="AAA-ACCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"
                        [showMaskTyped]="true" [readonly]="isEditModeOff" [patterns]="customPatterns"
                        (click)="_form.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="_form" label="kód" controlName="productCode"></app-form-control-error>
            </nb-form-field>
        
            <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megnevezés*</label>
        
                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="description" [readonly]="isEditModeOff"
                        (click)="_form.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="_form" label="megnevezés" controlName="description">
                </app-form-control-error>
            </nb-form-field>
        
            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="_form" formFieldName="productGroup"
                label="Csoport" [data$]="productGroupComboData$"></app-bbx-combo-box>
        
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Környezetvédelmi termékdíj</label>
        
                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="productFee"
                            [inputMask]="numberInputMask" placeholder="0.00" [readonly]="isEditModeOff"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
        
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Utolsó beszár</label>
        
                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="latestSupplyPrice"
                            [inputMask]="numberInputMask" placeholder="0.00" [readonly]="isEditModeOff"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="_form" label="környezetvédelmi termékdíj" controlName="productFee">
            </app-form-control-error>
            <app-form-control-error [form]="_form" label="utolsó beszár" controlName="latestSupplyPrice">
            </app-form-control-error>
        
            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="_form" formFieldName="origin"
                label="Származási hely" [data$]="originsComboData$"></app-bbx-combo-box>
        
            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="_form" formFieldName="unitOfMeasure"
                label="Me.e.*" [data$]="uomComboData$"></app-bbx-combo-box>
        
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Elad ár 1</label>
        
                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="unitPrice1"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
        
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Elad ár 2</label>
        
                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="unitPrice2"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="_form" label="elad ár 1" controlName="unitPrice1"></app-form-control-error>
            <app-form-control-error [form]="_form" label="elad ár 2" controlName="unitPrice2"></app-form-control-error>
        
            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="_form" formFieldName="vatRateCode" label="Áfakód"
                [data$]="vatRateComboData$"></app-bbx-combo-box>
        
            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-50 checkbox-wrapper"
                    (keydown.enter)="_form.HandleFormEnter($event)">
                    <label class="label-checkbox">Készletes?</label>
        
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}} {{TileCssColClass}}" type="checkbox"
                        formControlName="isStock" [readonly]="isEditModeOff" (click)="_form.HandleFormFieldClick($event)">
                </div>
        
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-50 checkbox-wrapper"
                    (keydown.enter)="_form.HandleFormEnter($event)">
                    <label class="label-checkbox">Aktív?</label>
        
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="active"
                        [readonly]="isEditModeOff" (click)="_form.HandleFormFieldClick($event)">
                </div>
            </div>
        
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Minimum készlet</label>
        
                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="minStock"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
        
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Rendelési egység</label>
        
                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="ordUnit" [readonly]="isEditModeOff"
                            [inputMask]="numberInputMask" placeholder="0.00"
                            (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="_form" label="minimum készlet" controlName="minStock">
            </app-form-control-error>
            <app-form-control-error [form]="_form" label="rendelési egység" controlName="ordUnit">
            </app-form-control-error>
        
            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="_form.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">vtsz*</label>
        
                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="vtsz" mask="9*"
                            [readonly]="isEditModeOff" (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
        
                <nb-form-field (keydown.enter)="MoveToSaveButtons($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">ean</label>
        
                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="ean" mask="9{1000}"
                            [readonly]="isEditModeOff" (click)="_form.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="_form" label="vtsz" controlName="vtsz"></app-form-control-error>
            <app-form-control-error [form]="_form" label="ean" controlName="ean"></app-form-control-error>
        
        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <span class="label-save">Termék mentése és kiválasztása: </span>
        <button nbButton (click)="Save()" status="primary" tabindex="-1" [disabled]="saveIsDisabled"
            id="confirm-dialog-button-yes">Igen</button>
        <button nbButton (click)="close(undefined)" status="danger" tabindex="-1"
            id="confirm-dialog-button-no">Nem</button>
    </nb-card-footer>
</nb-card>