@use 'filter-form-component-default';

.form-row {
    display: flex;
    column-gap: 5px;
}

.customer-search-field, .bbx-combobox, .bbx-radiogroup {
    width: 320px;
}

input.customer-input {
    width: 100%;
    width: -moz-fill-available;
    width: -webkit-fill-available;
    width: fill-available;

    min-width: auto !important;

    max-width: auto !important;
}