<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm">
        </app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (focusout)="currentForm.HandleFormFocusOut()"
            (keydown.escape)="currentForm.HandleFormEscape()" (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id" (click)="currentForm.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kód*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="productCode"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="currentForm" controlName="productCode"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megnevezés*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="description"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="description"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event, false)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Csoport*</label>

                    <input class="{{TileCssClass}}" formControlName="productGroup" nbInput type="text"
                        [nbAutocomplete]="autoProductGroup" [readonly]="isEditModeOff" autocomplete="off" />
                    <!-- AUTOCOMPLETE -->
                    <nb-autocomplete #autoProductGroup [activeFirst]="false"
                        (selectedChange)="currentForm.HandleAutoCompleteSelect($event, 'productGroup')">
                        <nb-option *ngFor="let option of filteredProductGroups$ | async; let i = index"
                            [value]="option">
                            {{ option }}
                        </nb-option>
                    </nb-autocomplete>
                </div>
                <app-form-control-error [form]="currentForm" controlName="productGroup"></app-form-control-error>
            </nb-form-field>
            
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Utolsó beszár</label>
            
                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="latestSupplyPrice"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="latestSupplyPrice"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event, false)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Származási hely</label>

                    <input class="{{TileCssClass}}" formControlName="origin" nbInput type="text"
                        [nbAutocomplete]="autoOrigin" [readonly]="isEditModeOff" autocomplete="off" />
                    <!-- AUTOCOMPLETE -->
                    <nb-autocomplete #autoOrigin [activeFirst]="false"
                        (selectedChange)="currentForm.HandleAutoCompleteSelect($event, 'origin')">
                        <nb-option *ngFor="let option of filteredOrigins$ | async; let i = index"
                            [value]="option">
                            {{ option }}
                        </nb-option>
                    </nb-autocomplete>
                </div>
                <app-form-control-error [form]="currentForm" controlName="origin"></app-form-control-error>
            </nb-form-field>
            
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Környezetvédelmi termékdíj</label>
            
                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="productFee"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="productFee"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event, false)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Me.e.*</label>

                    <input class="{{TileCssClass}}" formControlName="unitOfMeasure" nbInput type="text"
                        [nbAutocomplete]="autoAom" [readonly]="isEditModeOff" autocomplete="off" />
                    <!-- AUTOCOMPLETE -->
                    <nb-autocomplete #autoAom [activeFirst]="false"
                        (selectedChange)="currentForm.HandleAutoCompleteSelect($event, 'unitOfMeasure')">
                        <nb-option *ngFor="let option of filteredUom$ | async; let i = index"
                            [value]="option">
                            {{ option }}
                        </nb-option>
                    </nb-autocomplete>
                </div>
                <app-form-control-error [form]="currentForm" controlName="unitOfMeasure"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Elad ár 1</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="unitPrice1"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="unitPrice1"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Elad ár 2</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="unitPrice2"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="unitPrice2"></app-form-control-error>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2" (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label>Készletes?</label>
                
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="isStock"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                
                <div class="bbx-fd-form-field-inner-div-2" (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label>Aktív?</label>
                    
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="active"
                    (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </div>
            
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Minimum készlet</label>
            
                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="minStock"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="minStock"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Rendelési egység</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="ordUnit"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="ordUnit"></app-form-control-error>
            </nb-form-field>
            
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>VTSZ*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="VTSZ"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="VTSZ"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormLastEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>EAN</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="EAN"
                        mask="9{1000}"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" controlName="EAN"></app-form-control-error>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>