<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm" [KeySetting]="KeySetting">
        </app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (focusout)="currentForm.HandleFormFocusOut()" (keydown.escape)="currentForm.HandleFormEscape($event)"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="number" formControlName="id" (click)="currentForm.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kód*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="productCode" #codeInput
                        (focus)="moveCursor(codeInput)"
                        [inputMask]="productCodeMask"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="currentForm" label="kód" controlName="productCode"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megnevezés*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="description"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" label="megnevezés" controlName="description"></app-form-control-error>
            </nb-form-field>

            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="currentForm" formFieldName="productGroup" label="Csoport"
                [data$]="productGroupComboData$" [isReadonly]="isReadonly" [needErrorMsg]="true"></app-bbx-combo-box>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Környezetvédelmi termékdíj</label>

                        <app-bbx-numeric-input
                            formControlName='productFee'
                            class="display-contents"
                            input_class="{{TileCssClass}} {{TileCssColClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Utolsó beszár</label>

                        <app-bbx-numeric-input
                            formControlName='latestSupplyPrice'
                            class="display-contents"
                            input_class="{{TileCssClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="currentForm" label="környezetvédelmi termékdíj" controlName="productFee"></app-form-control-error>
            <app-form-control-error [form]="currentForm" label="utolsó beszár" controlName="latestSupplyPrice"></app-form-control-error>

            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="currentForm" formFieldName="origin" label="Származási hely"
                [data$]="originsComboData$" [isReadonly]="isReadonly" [needErrorMsg]="true"></app-bbx-combo-box>

            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="currentForm" formFieldName="unitOfMeasure" label="Me.e.*"
                [data$]="uomComboData$" [isReadonly]="isReadonly" [needErrorMsg]="true"></app-bbx-combo-box>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Listaár</label>

                        <app-bbx-numeric-input
                            formControlName='unitPrice1'
                            class="display-contents"
                            input_class="{{TileCssClass}} {{TileCssColClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Egységár</label>

                        <app-bbx-numeric-input
                            formControlName='unitPrice2'
                            class="display-contents"
                            input_class="{{TileCssClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="currentForm" label="elad ár 1" controlName="unitPrice1"></app-form-control-error>
            <app-form-control-error [form]="currentForm" label="elad ár 2" controlName="unitPrice2"></app-form-control-error>

            <app-bbx-combo-box class="bbx-sidebar-combo" [currentForm]="currentForm" formFieldName="vatRateCode" label="Áfakód"
                [data$]="vatRateComboData$" [isReadonly]="isReadonly" [needErrorMsg]="true"></app-bbx-combo-box>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Súly</label>
            
                    <app-bbx-numeric-input
                        formControlName='unitWeight'
                        class="display-contents"
                        input_class="{{TileCssClass}}"
                        (click)="currentForm.HandleFormFieldClick($event)"
                        [inputmask]="numberInputMask" placeholder="0.00"
                        [readonly]="isReadonly">
                    </app-bbx-numeric-input>
                </div>
                <app-form-control-error [form]="currentForm" label="súly" controlName="unitWeight"></app-form-control-error>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-40 checkbox-wrapper"
                    (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label class="label-checkbox">Készletes?</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}} {{TileCssColClass}}" type="checkbox" formControlName="isStock"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>

                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-30 checkbox-wrapper"
                    (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label class="label-checkbox">Aktív?</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}} {{TileCssColClass}}" type="checkbox" formControlName="active"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>

                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-30 checkbox-wrapper"
                    (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label class="label-checkbox">Eng.tilt?</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="noDiscount"
                        [readonly]="isReadonly" (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Minimum készlet</label>

                        <app-bbx-numeric-input
                            formControlName='minStock'
                            class="display-contents"
                            input_class="{{TileCssClass}} {{TileCssColClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Rendelési egység</label>

                        <app-bbx-numeric-input
                            formControlName='ordUnit'
                            class="display-contents"
                            input_class="{{TileCssClass}}"
                            (click)="currentForm.HandleFormFieldClick($event)"
                            [inputmask]="numberInputMask" placeholder="0.00"
                            [readonly]="isReadonly">
                        </app-bbx-numeric-input>
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="currentForm" label="minimum készlet" controlName="minStock"></app-form-control-error>
            <app-form-control-error [form]="currentForm" label="rendelési egység" controlName="ordUnit"></app-form-control-error>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">vtsz*</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="vtsz" mask="9*"
                            [readonly]="isReadonly"
                            (click)="currentForm.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormLastEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">ean</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="ean" mask="9{1000}"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="currentForm" label="vtsz" controlName="vtsz"></app-form-control-error>
            <app-form-control-error [form]="currentForm" label="ean" controlName="ean"></app-form-control-error>

        </form>
    </nb-card-body>
</nb-card>