.head-line-2 {
    font-size: medium;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 25px;
}

.head-line-1 {
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 25px;
}