button {
    margin-right: 25px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

form.form-with-rows {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;

    .form-row {
        display: flex;
        justify-content: flex-start;
        column-gap: 25px;
    }
}
