<nb-card [nbSpinner]="showSpinnerOnTable">
    <nb-card-header *ngIf="!!dbDataTable">
        <ng-content></ng-content>
    </nb-card-header>
    <nb-card-body *ngIf="!!dbDataTable">
        <form class="card-table-wrapper-form {{themeClass}}">
            <table class="card-table-header {{themeClass}}" [ngClass]="getTableClasses()"  [nbTreeGrid]="dbDataDataSrc" [trackBy]="trackRows" equalColumnsWidth
                nbSort (sort)="changeSort($event)" id="table_header">
                <ng-container *ngIf="allColumns.length > 0">
                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                </ng-container>
                <ng-container *ngIf="allColumns.length === 0">
                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumnsAsync | async"></tr>
                </ng-container>
                <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                    <ng-container [ngSwitch]="it.type">
                        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef
                            [nbSortHeader]="getDirection(it.colKey)"
                            [style.min-width]="GetColWidth(it)" [style.max-width]="GetColWidth(it)" [style.width]="GetColWidth(it)">
                            {{it.label}}
                        </th>
                    </ng-container>
                </ng-container>
            </table>

            <table class="card-table-wrapper {{themeClass}}" id="table_body"
                [ngClass]="getTableClasses()" [id]="dbDataTableId" [nbTreeGrid]="dbDataDataSrc" [trackBy]="trackRows"
                 *ngIf="(!!dbDataTable && dbDataTable.data.length !== 0) || (!!dbDataTable && !showMsgOnNoData && dbDataTable.data.length === 0)"
                 equalColumnsWidth (focusin)="focusOnTable(true)" (focusout)="focusOnTable(false)">
                <ng-container *ngIf="allColumns.length > 0">
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [class.success]="isRowSuccess(row)" [class.warning]="isRowWarning(row)"></tr>
                </ng-container>
                <ng-container *ngIf="allColumns.length === 0">
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: (allColumnsAsync | async)"></tr>
                </ng-container>
                <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                    <ng-container [ngSwitch]="it.type">
                        <ng-container *ngSwitchCase="'string'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                                *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'getter'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign" class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ !!it.calc ? it.calc(row.data) : '' }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'onlyDate'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign" class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ GetDateString(row.data[it.objectKey]) }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'number'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign" class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'formatted-number'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign" class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:'1.2':'fr' | replace:',':'.' }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'formatted-integer'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign" class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:'2.0':'fr' | replace:',':'.' }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'padded-formatted-integer'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)" [style.width]="it.colWidth"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:'8.0':'fr' | removeWhitespaces }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'number-3-length'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)" [style.width]="it.colWidth"
                                [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:'3.0':'fr' | removeWhitespaces }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'param-padded-formatted-integer'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)" [style.width]="it.colWidth"
                                [style.min-width]="it.colWidth" [style.max-width]="it.colWidth" [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] | removeWhitespaces | number:(!!it.calc ? it.calc(row.data) : '8.0'):'fr' | removeWhitespaces }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'bool'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                                *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null">
                                    {{ row.data[it.objectKey] ? '&check;' : '&times;' }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'html'">
                            <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                                *nbTreeGridCellDef="let row; let rowPos = index"
                                (keydown.escape)="dbDataTable.HandleGridEscape(row, rowPos, it.objectKey, colPos)"
                                (keydown.tab)="dbDataTable.JumpToFlatDesignForm($event, row, rowPos, it.objectKey, colPos)"
                                (click)="dbDataTable.HandleGridClick(row, rowPos, it.objectKey, colPos)"
                                [style.width]="it.colWidth" [style.min-width]="it.colWidth" [style.max-width]="it.colWidth"
                                [style.text-align]="it.textAlign"
                                class="{{it.navMatrixCssClass}}">
                                <div class="innerhtml-table-cell" *ngIf="row.data[it.objectKey] !== undefined && row.data[it.objectKey] !== null"
                                    [innerHtml]="row.data[it.objectKey] | htmlStringSanitizer">
                                </div>
                            </td>
                        </ng-container>

                    </ng-container>
                </ng-container>
            </table>
        </form>
    </nb-card-body>
    <nb-card-footer class="footer-paginator" *ngIf="!!dbDataTable">
        <app-paginator *ngIf="!!dbDataTable && dbDataTable.data.length !== 0" [paginator]="dbDataTable"></app-paginator>
        <span *ngIf="showMsgOnNoData && !!dbDataTable && !isLoading && dbDataTable.data.length === 0" class="msg">Nincs megjeleníthető adat!</span>
    </nb-card-footer>
</nb-card>
