@use 'flat-design-manager-component-default';

.card-table-wrapper-form {
    flex-grow: 1;
    width: 100%;
}

.success {
    background-color: green !important;
}

.warning {
    background-color: goldenrod !important;
}
