@import 'bbx-atomic-styles';
@import 'quick-search-modal-deafult';

.btn-util {
    height: auto !important;
}

form.form-with-rows {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;

    margin-bottom: 25px;
    margin-left: 25px;

    align-content: center;
    align-items: flex-start;

    .form-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        input[type="text"] {
            margin-right: 25px !important;
        }

        label {
            margin-right: 10px;
        }
    }
}

.bbx-radiogroup {
    display: flex;
    flex-direction: row;
}

.modal-product-active {
    max-height: 610px !important;
}

.alert-error {
    font-weight: bold;
    margin-top: 5px;
}

nb-card {
    margin-bottom: 0px;

    nb-card-body {
        padding-top: 0px;
    }
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
    margin-left: 10px;
    margin-right: 10px;

    .horizontal {
        display: flex;
        align-items: center;
        gap: 0px;
        width: 600px;
    }

    .flex-row {
        display: flex;
        gap: 10px;
    }

    label {
        display: inline-block !important;
        width: 135px !important;
        text-align: left;
    }

    input {
        width: 300px !important;
    }
}

.filter-card {
    background: unset;
}

.summedCost {
    font-size: 1rem;
    margin-right: 240px;
    text-align: right;
}