<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm"></app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.enter)="currentForm.HandleFormEnter($event)" (keydown.escape)="currentForm.HandleFormEscape()"
            (keydown.tab)="currentForm.HandleFormTab($event)" (click)="currentForm.HandleFormClick()"
            (keydown.f8)="currentForm.HandleFunctionKey($event)" (keydown.f9)="currentForm.HandleFunctionKey($event)"
            (keydown.f10)="currentForm.HandleFunctionKey($event)" (keydown.f11)="currentForm.HandleFunctionKey($event)"
            (keydown.f12)="currentForm.HandleFunctionKey($event)">

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id" (click)="currentForm.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Név</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerName"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Bankszámla</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerBankAccountNumber"
                        [mask]="bankAccountMask | async" (keydown)="checkBankAccountKeydownValue($event)"
                        [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>

            </nb-form-field>
            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Belföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="taxpayerNumber"
                        mask="0000000-0-00" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Külföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="thirdStateTaxId"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Országkód</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="countryCode" mask="SS"
                        [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Irsz.</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="postalCode"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field>
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label>Város</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="city"
                            (click)="currentForm.HandleFormFieldClick($event)" required>
                    </div>
                </nb-form-field>

                <nb-form-field>
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label>Cím</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="additionalAddressDetail"
                            (click)="currentForm.HandleFormFieldClick($event)" required>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-checkbox-outer-div">
                <label>Magánszemély</label>

                <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="privatePerson"
                    (click)="currentForm.HandleFormFieldClick($event)">
            </div>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="comment"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>