<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <nb-actions *ngIf="!!currentForm" size="medium" class="bbx-fd-sidebar-functions">
            <nb-action class="{{TileCssClass}}" id="fd-form-new" class="cl-header-menu" tabIndex="1" nbTooltip="Új"
                nbTooltipStatus="primary" [icon]="{ icon: 'plus-circle-outline', pack: 'eva' }"
                (click)="currentForm.ActionNew()"></nb-action>
            <nb-action class="{{TileCssClass}}" id="fd-form-reset" class="cl-header-menu" tabIndex="2"
                nbTooltip="Alaphelyzet" nbTooltipStatus="primary" [icon]="{ icon: 'flip-2-outline', pack: 'eva' }"
                (click)="currentForm.ActionReset()">
            </nb-action>
            <nb-action class="{{TileCssClass}}" id="fd-form-edit" class="cl-header-menu" tabIndex="3" nbTooltip="Mentés"
                nbTooltipStatus="primary" [icon]="{ icon: 'save-outline', pack: 'eva' }"
                (click)="currentForm.ActionPut()">
            </nb-action>
            <nb-action class="{{TileCssClass}}" id="fd-form-delete" class="cl-header-menu" tabIndex="4"
                nbTooltip="Törlés" nbTooltipStatus="primary" [icon]="{ icon: 'trash-2-outline', pack: 'eva' }"
                (click)="currentForm.ActionDelete()"></nb-action>
        </nb-actions>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.enter)="currentForm.HandleFormEnter($event)" (keydown.escape)="currentForm.HandleFormEscape()"
            (keydown.tab)="currentForm.HandleFormTab($event)" (click)="currentForm.HandleFormClick()"
            (keydown.f8)="currentForm.HandleKey($event)" (keydown.f9)="currentForm.HandleKey($event)"
            (keydown.f10)="currentForm.HandleKey($event)" (keydown.f11)="currentForm.HandleKey($event)"
            (keydown.f12)="currentForm.HandleKey($event)">

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id" (click)="currentForm.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Név</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerName"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Bankszámla</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerBankAccountNumber"
                        [mask]="bankAccountMask | async" (keydown)="checkBankAccountKeydownValue($event)"
                        [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>

            </nb-form-field>
            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Belföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="taxpayerNumber"
                        mask="0000000-0-00" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Külföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="thirdStateTaxId"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Országkód</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="countryCode" mask="SS"
                        [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
            </nb-form-field>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Irsz.</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="postalCode"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field>
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label>Város</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="city"
                            (click)="currentForm.HandleFormFieldClick($event)" required>
                    </div>
                </nb-form-field>

                <nb-form-field>
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label>Cím</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="additionalAddressDetail"
                            (click)="currentForm.HandleFormFieldClick($event)" required>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-checkbox-outer-div">
                <label>Magánszemély</label>

                <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="privatePerson"
                    (click)="currentForm.HandleFormFieldClick($event)">
            </div>

            <nb-form-field>
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="comment"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>