<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm" [KeySetting]="KeySetting"></app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.escape)="currentForm.HandleFormEscape()" (focusout)="currentForm.HandleFormFocusOut()"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Azonosító</label>
                    <input nbInput type="text" formControlName="id"
                        (click)="currentForm.HandleFormFieldClick($event)"
                        readonly>
                </div>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Név*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="customerName"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="currentForm" label="név" controlName="customerName"></app-form-control-error>
            </nb-form-field>

            <app-customer-bank-account-number-input *ngIf="currentForm" [onFormUpdate]="onFormUpdate"
                [currentForm]="currentForm" formFieldName="customerBankAccountNumber" label="Bankszámla" [readonlyMode]="isReadonly">
            </app-customer-bank-account-number-input>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Belföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="taxpayerNumber" [patterns]="customPatterns"
                        [mask]="taxNumberMask" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                        [readonly]="isReadonly" oninput="this.value = this.value.toUpperCase()"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" label="belföldi adószám" controlName="taxpayerNumber"></app-form-control-error>
            </nb-form-field>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Külföldi Adószám</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="thirdStateTaxId"
                        [mask]="thirdStateTaxIdMask" [patterns]="customPatterns" [showMaskTyped]="true"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" label="külföldi adószám" controlName="thirdStateTaxId"></app-form-control-error>
            </nb-form-field>

            <app-bbx-combo-box [isReadonly]="isReadonly" class="bbx-sidebar-combo" [currentForm]="currentForm" formFieldName="countryCode" label="Országkód*"
                [data$]="countryCodeComboData$"></app-bbx-combo-box>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field class="bbx-fd-form-field-50" (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Irsz.</label>
    
                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="postalCode"
                            [readonly]="isReadonly" (focusout)="postalCodeInputFocusOut($event)"
                            (click)="currentForm.HandleFormFieldClick($event)">
                    </div>
                </nb-form-field>
                
                <nb-form-field class="bbx-fd-form-field-50" (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Város*</label>
                        
                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="city"
                        [readonly]="isReadonly" (focusout)="cityInputFocusOut($event)"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                    </div>
                </nb-form-field>
            </div>
            <app-form-control-error [form]="currentForm" label="irsz." controlName="postalCode"></app-form-control-error>
            <app-form-control-error [form]="currentForm" label="város" controlName="city"></app-form-control-error>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Cím*</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="additionalAddressDetail"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)" required>
                </div>
                <app-form-control-error [form]="currentForm" controlName="additionalAddressDetail"></app-form-control-error>
            </nb-form-field>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-33" (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label class="label-checkbox">Magánszemély</label>
                
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="privatePerson"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </div>
            <app-form-control-error [form]="currentForm" label="magánszemély" controlName="privatePerson"></app-form-control-error>

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>

                    <input class="{{TileCssClass}}" nbInput type="text" formControlName="comment"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" label="megjegyzés" controlName="comment"></app-form-control-error>
            </nb-form-field>
            
            <div class="bbx-fd-form-field-wrapper-div-row">
                <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-33"
                    (keydown.enter)="currentForm.HandleFormEnter($event)">
                    <label class="label-checkbox">Saját adat</label>
            
                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="isOwnData"
                        [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </div>
            <app-form-control-error [form]="currentForm" label="saját adat" controlName="isOwnData"></app-form-control-error>

            <nb-form-field (keydown.enter)="currentForm.HandleFormLastEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Email</label>
            
                    <input class="{{TileCssClass}}" nbInput type="email" formControlName="email" [readonly]="isReadonly"
                        (click)="currentForm.HandleFormFieldClick($event)">
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>