@use 'table-common';

$td-height: 30px;

.nb-overlay-bottom {
    background: transparent !important;
    box-shadow: none !important;
}

.min-height-51 {
    min-height: 51px;
}

.layout {
    min-height: 10vh !important;
    padding: 0px !important;
}

.card-header-txt-center {
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

.card-title {
    background: none !important;
    border: none !important;

    margin-bottom: 0px !important;

    text-align: center;
    font-size: larger !important;
    text-transform: uppercase;
}
.header-blank {
    color: transparent !important;
}

.flex-text-center {
    display: flex;
    justify-items: center;
}

::ng-deep nb-card-header {
    font-size: 2rem !important;
}

nb-layout-footer.custom {
    nav {
        padding: 0px !important;
        background: none !important;
    }
}

.card-header-top-margin {
    margin-top: 25px;
    margin-bottom: 5px;
}

form.form-with-rows {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;

    .form-row {
        display: flex;
        justify-content: flex-start;
    }
}

// Paginator

// TABLE: Rows

.card-table-wrapper {
    position: sticky;
    top: 0;

    nb-form-field {
        margin: 10px;

        margin-left: auto;
        margin-right: auto;
    }

    nb-form-field {
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    th {
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
    }

    tr > th {
        position: sticky;
        top: -1px;
    }

    tr:nth-child(even) {
        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                .product-code-input {
                    margin: 0px;
                    padding: 0px;
                }

                .product-code-input > .input-table-cell, .input-table-cell {
                    width: 100% !important;

                    border: none !important;
                    background: none !important;
                    text-align: left !important;

                    padding: 0px !important;

                    @media (max-height: 1000px) {
                        padding-left: 0px !important;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                    }

                    font-size: 1.1rem !important !important;

                    font-family: Open Sans, sans-serif !important;
                    font-weight: 400 !important;
                    line-height: 1.25rem !important;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    tr:nth-child(odd) {
        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                .product-code-input {
                    margin: 0px;
                    padding: 0px;
                }

                .product-code-input > .input-table-cell, .input-table-cell {
                    width: 100% !important;

                    border: none !important;
                    background: none !important;
                    text-align: left !important;

                    padding: 0px !important;

                    @media (max-height: 1000px) {
                        padding-left: 0px !important;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                    }

                    font-size: 1.1rem !important !important;

                    font-family: Open Sans, sans-serif !important;
                    font-weight: 400 !important;
                    line-height: 1.25rem !important;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    th {
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
    }

    tr:last-child {
        th,
        td {
            height: $td-height;

            &.table-cell-edited {
                padding: 0px;

                .product-code-input {
                    margin: 0px;
                    padding: 0px;
                }

                .product-code-input > .input-table-cell, .input-table-cell {
                    width: 100% !important;

                    border: none !important;
                    background: none !important;
                    text-align: left !important;

                    padding: 0px !important;

                    @media (max-height: 1000px) {
                        padding-left: 0px !important;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px !important;
                    }

                    font-size: 1.1rem !important !important;

                    font-family: Open Sans, sans-serif !important;
                    font-weight: 400 !important;
                    line-height: 1.25rem !important;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

nb-card-header {
    padding: 0px;
}

// TABLE: Statistics

.invoice-table-statistics {
    padding: 0px;
    padding-right: 75px;

    width: 100%;
    text-align: right;

    span.line-amount {
        font-size: 1rem;
        margin-left: 25px;
    }
}

table.table-statistics-net-vat-gross {
    right: 100px !important;
    position: fixed;

    column-gap: 25px;
    padding: 5px;
    border-spacing: 15px 0px;

    td {
        min-width: 300px;
        text-align: left;
    }
}

input.unitprice-ch[type="checkbox"]{
    display: flex;
    -webkit-appearance: initial;
    appearance: initial;
    border: none;
    position: relative;
}
input.unitprice-ch[type="checkbox"]:checked {
    background: transparent;
}

input.unitprice-ch[type="checkbox"]:after {
    /* Heres your symbol replacement - this is a tick in Unicode. */
    content: "L";
    color: #fff;
    /* The following positions my tick in the center,
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

input.unitprice-ch[type="checkbox"]:checked:after {
    /* Heres your symbol replacement - this is a tick in Unicode. */
    content: "E";
    color: #fff;
    /* The following positions my tick in the center,
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}