<as-split direction="horizontal">
    <as-split-area [size]="70">
        <app-head-line msg="Felhasználók kezelése"></app-head-line>

        <app-flat-design-table
            [allColumns]="allColumns"
            [colDefs]="colDefs"
            [dbDataDataSrc]="usersDataSrc"
            [dbDataTable]="userTable"
            [dbDataTableId]="usersTableId"
            [trackRows]="trackRows"
            [isLoading]="isLoading"
            (focusInTable)="focusOnTable(true)"
            (focusOutTable)="focusOnTable(false)">
        </app-flat-design-table>
        
    </as-split-area>
    <as-split-area [size]="30" *ngIf="isSideBarOpened">
        <app-user-side-bar-form class="bbx-sidebar"></app-user-side-bar-form>
    </as-split-area>
</as-split>
