<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm">
        </app-crud-buttons>

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.escape)="currentForm.HandleFormEscape()"
            (click)="currentForm.HandleFormClick()"
            (keydown.f8)="currentForm.HandleFunctionKey($event)" (keydown.f9)="currentForm.HandleFunctionKey($event)"
            (keydown.f10)="currentForm.HandleFunctionKey($event)" (keydown.f11)="currentForm.HandleFunctionKey($event)"
            (keydown.f12)="currentForm.HandleFunctionKey($event)">

            <ng-container *ngFor="let it of currentForm.colDefs; let rowPos = index" [ngSwitch]="it.fInputType">
                <ng-container *ngSwitchCase="'text'">
                    <nb-form-field (keydown.enter)="it.fLast ? currentForm.HandleFormEnter($event) : currentForm.HandleFormLastEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="text" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey"></app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'readonly'">
                    <nb-form-field (keydown.enter)="it.fLast ? currentForm.HandleFormEnter($event) : currentForm.HandleFormLastEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input nbInput type="text" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)" readonly>
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey"></app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'password'">
                    <nb-form-field (keydown.enter)="it.fLast ? currentForm.HandleFormEnter($event) : currentForm.HandleFormLastEnter($event)">
                        <div class="bbx-fd-form-field-inner-div">
                            <ng-container [ngSwitch]="it.fInputType">
                                <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                                <input class="{{TileCssClass}}" nbInput type="password" [formControlName]="it.objectKey"
                                    (click)="currentForm.HandleFormFieldClick($event)"
                                    [required]="it.fRequired ?? false">
                            </ng-container>
                        </div>
                        <app-form-control-error [form]="currentForm" [controlName]="it.objectKey"></app-form-control-error>
                    </nb-form-field>
                </ng-container>

                <div class="bbx-fd-checkbox-outer-div" *ngSwitchCase="'bool'" (keydown.enter)="it.fLast ? currentForm.HandleFormEnter($event) : currentForm.HandleFormLastEnter($event)">
                    <label>{{it.label}}{{it.fRequired ?? false ? '*' : ''}}</label>

                    <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox"
                        [formControlName]="it.objectKey" (click)="currentForm.HandleFormFieldClick($event)">
                </div>
                <app-form-control-error [form]="currentForm" [controlName]="it.objectKey"></app-form-control-error>
            </ng-container>
        </form>
    </nb-card-body>
</nb-card>