<ng-container *ngIf="input_type === 'FLOAT'">
    <input autocomplete="off" nbInput type="text" [name]="name" [nbPopover]="calculator" nbPopoverTrigger="noop"
        nbPopoverPlacement="top" (keydown.F5)="openCalculator($event)"
        [disabled]="disabled"
        (blur)="proxyBlur($event)"
        (focus)="proxyFocus($event)" [(ngModel)]="value"
        [id]="id" [inputMask]="numberInputMask" placeholder="0.00" [class]="input_class"
        [style.text-align]="style_text_align" />
        
    <ng-template #calculator>
        <app-calculator-popover [(result)]="value"
            (popoverClose)="closeCalculator()"></app-calculator-popover>
    </ng-template>
</ng-container>
<ng-container *ngIf="input_type !== 'INTEGER'">
    <input autocomplete="off" nbInput type="text" [name]="name" [nbPopover]="calculator" nbPopoverTrigger="noop"
        nbPopoverPlacement="top" (keydown.F5)="openCalculator($event)"
        [disabled]="disabled"
        (blur)="proxyBlur($event)"
        (focus)="proxyFocus($event)" [(ngModel)]="value"
        [id]="id" [inputMask]="numberInputMaskInteger" placeholder="0" [class]="input_class"
        [style.text-align]="style_text_align" />
        
    <ng-template #calculator>
        <app-calculator-popover [(result)]="value"
            (popoverClose)="closeCalculator()"></app-calculator-popover>
    </ng-template>
</ng-container>

