<!-- <ng-container *ngIf="simpleMode">
    <div class="bbx-fd-form-field-inner-div" [ngClass]="cssClasses"
            (keydown.enter)="HandleFormDropdownEnter($event, defaultDataCount, comboBoxData, '', false, lastFormField)">
            <input class="{{TileCssClass}}" nbInput type="text" readonly
                (blur)="proxyBlur($event)"
                (focus)="proxyFocus($event)"
                (focusout)="proxyFocusOut($event)"
                (click)="proxyClick($event)"
                [(ngModel)]="value" [name]="name" [disabled]="disabled"
                (focus)="select($event)"
                [nbAutocomplete]="isReadonly ? autoComboBoxCompleteEmpty : autoComboBoxComplete" readonly
                autocomplete="off" />
    </div>
    <nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxComplete [activeFirst]="false"
        (selectedChange)="HandleAutoCompleteSelect($event)">
        <nb-option *ngFor="let option of data$ | async; let i = index" [value]="option">
            {{ option }}
        </nb-option>
    </nb-autocomplete>
    <nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxCompleteEmpty [activeFirst]="false"
        (selectedChange)="HandleAutoCompleteSelect($event)">
    </nb-autocomplete>
</ng-container> -->

<!-- <div class="bbx-fd-form-field-inner-div" [ngClass]="cssClasses"
    (keydown.enter)="HandleFormDropdownEnter($event, currentDataCount, currentFilteredData, currentTypedData, false, lastFormField, name)">
</div> -->

<nb-select
    [name]="name"
    [id]="id" [(ngModel)]="value"
    [disabled]="isEditModeOff || disabled"
    (focus)="clickThis($event)"
    class="{{TileCssClass}}">
    <nb-option *ngFor="let option of filteredData$ | async; let i = index" [value]="option"
        [disabled]="option === '' && !needBlankOption">
        {{ option }}
    </nb-option>
</nb-select>

<!-- <input autocomplete="off" type="text"
    class="{{TileCssClass}}"
    nbInput
    [name]="name"
    [id]="id" [(ngModel)]="value"
    (click)="proxyClick($event)"
    (blur)="proxyBlur($event)"
    (focus)="proxyFocus($event)"
    (focus)="select($event)"
    (focusout)="proxyFocusOut($event)"
    (focusout)="AutoCorrectSelectCaseInsensitive($event, currentDataCount, currentFilteredData, currentTypedData, false, lastFormField, name)"
    (keydown.enter)="HandleFormDropdownEnter($event, currentDataCount, currentFilteredData, currentTypedData, false, lastFormField, name)"
    [nbAutocomplete]="isReadonly ? autoComboBoxCompleteEmpty : autoComboBoxComplete"
    [disabled]="disabled" [required]="required" [readonly]="isEditModeOff" />
<nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxComplete [activeFirst]="false"
    (selectedChange)="HandleAutoCompleteSelect($event)">
    <nb-option *ngFor="let option of filteredData$ | async; let i = index" [value]="option"
        (keydown.enter)="HandleFormDropdownOptionEnter($event, option)"
        (click)="HandleFormDropdownOptionEnter($event, option)"
        [disabled]="option === '' && !needBlankOption">
        {{ option }}
    </nb-option>
</nb-autocomplete>
<nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxCompleteEmpty [activeFirst]="false"
    (selectedChange)="HandleAutoCompleteSelect($event)">
</nb-autocomplete> -->