<div class="filter-div">
    <nb-card class="filter-card">
        <nb-card-body class="filter-card-body">
            <form [formGroup]="filterForm" #formDirective="ngForm" [id]="filterFormId"
                (keydown.escape)="filterFormNav.HandleFormEscape()">

                <div class="triple-column">
                    <div class="field-wrapper">
                        <app-customer-search #customerSearch
                            class="customer-search-field"
                            [customer]="customerData"
                            (customerChanged)="customerChanged($event)"
                            (focusIn)="onFormSearchFocused()"
                            (focusOut)="onFormSearchBlurred()"
                            [withDiscounts]="false"
                            (loadingChanged)="isLoading = $event"></app-customer-search>
                    </div>
                    <div class="field-wrapper">
                        <nb-form-field>
                            <label>Ügyfél</label>
                            <input nbInput type="text" formControlName='CustomerName' readonly>
                        </nb-form-field>
                    </div>
                    <div class="field-wrapper">
                        <nb-form-field>
                            <label>Ügyfél Cím</label>
                            <input nbInput type="text" formControlName='CustomerAddress' readonly>
                        </nb-form-field>
                    </div>
                    <div class="field-wrapper">
                        <nb-form-field>
                            <label>Ügyfél Adószám</label>
                            <input nbInput type="text" formControlName='CustomerTaxNumber' readonly>
                        </nb-form-field>
                    </div>
                </div>

                <div class="double-column">
                    <div class="checkbox-field" (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                        <label class="label-checkbox">Bejövő forgalom</label>
                    
                        <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="Incoming"
                            [readonly]="isEditModeOff" (click)="filterFormNav.HandleFormFieldClick($event)">
                    </div>

                    <div class="checkbox-field" (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                        <label class="label-checkbox">Lejárt</label>
                    
                        <input class="bbx-fd-checkbox" class="{{TileCssClass}}" type="checkbox" formControlName="Expired"
                            [readonly]="isEditModeOff" (click)="filterFormNav.HandleFormFieldClick($event)">
                    </div>
                </div>

                <div class="triple-column">
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" left>
                        <label>Teljesítés kezdete</label>
                        <input nbInput type="datetime" formControlName='InvoiceDeliveryDateFrom' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" right>
                        <label>Teljesítés vége</label>
                        <input nbInput type="datetime" formControlName='InvoiceDeliveryDateTo' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m03"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>
    
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" left>
                        <label>Számla dátum eleje</label>
                        <input nbInput type="datetime" formControlName='InvoiceIssueDateFrom' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" right>
                        <label>Számla dátum vége</label>
                        <input nbInput type="datetime" formControlName='InvoiceIssueDateTo' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m03"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>
                    
                    <app-form-control-error [form]="filterFormNav" controlName="InvoiceDeliveryDateFrom" label="teljesítés kezdete">
                    </app-form-control-error>
                    <app-form-control-error [form]="filterFormNav" controlName="InvoiceDeliveryDateTo" label="teljesítés vége">
                    </app-form-control-error>
                    <app-form-control-error [form]="filterFormNav" controlName="InvoiceIssueDateFrom" label="számla dátuma eleje">
                    </app-form-control-error>
                    <app-form-control-error [form]="filterFormNav" controlName="InvoiceIssueDateTo" label="számla dátum vége">
                    </app-form-control-error>
                </div>
                
                <div class="triple-column">
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" left>
                        <label>Fizetési határidő kezdete</label>
                        <input nbInput type="datetime" formControlName='PaymentDateFrom' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>
                    <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)" right>
                        <label>Fizetési határidő vége</label>
                        <input nbInput type="datetime" formControlName='PaymentDateTo' class="{{TileCssClass}}"
                            (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m03"
                            mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                    </nb-form-field>

                    <div class="field-wrapper">
                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                            <label>Bizonylatszám</label>
                            <input nbInput type="text" formControlName='InvoiceNumber' class="{{TileCssClass}}" 
                                (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff">
                        </nb-form-field>
                    </div>
                    <div class="field-wrapper" *ngIf="!!componentFormData?.Incoming">
                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)">
                            <label>Partner bizonylatszám</label>
                            <input nbInput type="text" formControlName='CustomerInvoiceNumber' class="{{TileCssClass}}" 
                                (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff">
                        </nb-form-field>
                    </div>
                    <div class="form-button" right>
                        <button nbButton class="{{TileCssClass}}" (click)="Refresh()" [disabled]="!!filterForm.invalid"
                            status="primary">Keresés</button>
                    </div>

                    <app-form-control-error [form]="filterFormNav" controlName="PaymentDateFrom" label="fizetési határidő kezdete">
                    </app-form-control-error>
                    <app-form-control-error [form]="filterFormNav" controlName="PaymentDateTo" label="fizetési határidő vége">
                    </app-form-control-error>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>