@use 'flat-design-no-side-bar-manager-component-default';

$label-w-min: 185px;
$input-width: 320px;


.label-type-1 {
    min-width: $label-w-min;
}

.input-type-1 {
    margin-top: 2px;
    max-width: 100% !important;
}

.input-type-1-checkbox {
    margin-top: 12px;
}

label {
    align-self: center;
    text-align: right;
}
label.label-checkbox {
    align-self: auto !important;
}

label {
    @extend .label-type-1;
}

.filter-card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.bbx-radiogroup {
    display: flex;
    flex-direction: row;
}

[hidden] { display: none !important; }

table.table-statistics-net-vat-gross {
    column-gap: 25px;
    padding: 5px;
    border-spacing: 15px 0px;

    td {
        min-width: 200px;
    }
}

nb-card-body {
    padding-bottom: 0px;
    padding-top: 0px;
}

.search-footer {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

form {
    display: grid;
    grid-template-rows: 18% 25% 25% 25%;
    grid-template-columns: 100%;
    column-gap: 10px;
    row-gap: 5px;
    justify-items: start;
    align-items: center;
}

.double-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.double-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 10px;
    column-gap: 5px;
}

.triple-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 10px;
    column-gap: 5px;

    .field-no-wrapper {
        min-width: $input-width !important;
    }
}

.field-wrapper {
    min-width: $input-width !important;
}

.form-button {
    margin-left: 20px;
}

.field-wrapper :has(label) {
    display: flex !important;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
}

input[type=text] {
    min-width: $input-width !important;
    max-width: $input-width !important;
}

// common-styles.scss / checkbox-field overwrites

.checkbox-field {
    flex-direction: row;
    
    align-content: center;
    align-items: center;
    
    justify-content: flex-start;

    padding: 0px !important;
    margin: 0px !important;

    min-width: $input-width !important;

    label {
        max-height: 10px;
    }

    input[type="checkbox"],
    [type="radio"] {
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 10px;
        padding: 10px;
        margin-left: 25px;
    }
}