<div>
  <input formControlName="customerSearch"
         nbInput
         type="text"
         maxlength="80"
         (input)="FillFormWithFirstAvailableCustomer($event)"
         placeholder="Keresés"
         autocomplete="off"
         id="r00"
         (keydown.F2)="chooseDataForCustomerForm()"
         (keydown.F3)="createCustomer()"
         (keydown.F4)="editCustomer()"/>
  <button nbButton *ngIf="canGetFromNav && searchByTaxNumber" (click)="ChoseDataForFormByTaxNumber()">
    NAV
  </button>

</div>
