<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Bizonylat mentése</span>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body">
        <form *ngIf="!!sumForm" [formGroup]="sumForm" #formDirective="ngForm" id="invoiceSaveForm">
            <label>Összes nettó:</label>
            <nb-form-field class="col-span-3">
                <input [inputMask]="numberInputMask" class="right" nbInput type="text" formControlName="invoiceNetAmount">
            </nb-form-field>

            <!-- KEDVEZMÉNY MEGADÁSA -->
            <label *ngIf="!this.Incoming && this.isDiscountVisible">Kedvezmény %:</label>
            <div *ngIf="!this.Incoming && this.isDiscountVisible">
                <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" *ngIf="this.OutGoingDelivery">
                    <app-bbx-numeric-input
                        formControlName='invoiceDiscountPercent'
                        [placeholder]="discountPercentInputPlaceHolder"
                        input_class="{{TileCssClass}} discount-input"
                        (click)="formNav.HandleFormFieldClick($event)"
                        [inputmask]="discountInputMask"
                        (focusout)="RefreshCalc()"
                        [required]="true">
                    </app-bbx-numeric-input>
                </nb-form-field>

                <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" *ngIf="!this.OutGoingDelivery && this.isDiscountVisible">
                    <app-bbx-numeric-input
                        formControlName='invoiceDiscountPercent'
                        [placeholder]="discountPercentInputPlaceHolder"
                        input_class="{{TileCssClass}} discount-input"
                        (click)="formNav.HandleFormFieldClick($event)"
                        [inputmask]="discountInputMask"
                        (focusout)="RefreshCalc()"
                        [required]="true">
                    </app-bbx-numeric-input>
                </nb-form-field>
            </div>

            <label *ngIf="!this.Incoming">Kedvezmény értéke:</label>
            <nb-form-field *ngIf="!this.Incoming" [ngClass]="!this.isDiscountVisible ? 'col-span-3': ''">
                <input nbInput type="text" formControlName='invoiceDiscountValue'
                    required="true" [inputMask]="numberInputMask" [placeholder]="discountInputPlaceHolder"
                    readonly>
            </nb-form-field>

            <label>Kedvezménnyel csökkentett nettó:</label>
            <nb-form-field class="col-span-3">
                <input [inputMask]="numberInputMask" class="right" nbInput type="text" formControlName="discountedInvoiceNetAmount">
            </nb-form-field>

            <ng-container *ngFor="let item of vatRateCodes; let rowPos = index">
                <label>Összes {{item.Id}} áfa:</label>
                <input class="right col-span-3"
                    [inputMask]="numberInputMask" nbInput type="text" formControlName="{{'vatRateFormControl-' + rowPos}}">
            </ng-container>

            <label>Összes bruttó:</label>
            <nb-form-field class="col-span-3">
                <input [inputMask]="numberInputMask" class="right" nbInput type="text" formControlName="lineGrossAmount">
            </nb-form-field>

            <label>Termékek száma:</label>
            <nb-form-field class="col-span-3">
                <input nbInput type="text" formControlName="invoiceLinesCount">
            </nb-form-field>

            <label class="multicol-label-col-1" *ngIf="this.OutGoingDelivery">Munkaszám</label>
            <nb-form-field (keydown.enter)="formNav.HandleFormEnter($event)" class="col-span-2" *ngIf="this.OutGoingDelivery">
                    <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text" formControlName="workNumber"
                        [readonly]="isEditModeOff"
                        (click)="formNav.HandleFormFieldClick($event)">
            </nb-form-field>

            <div class="price-preview" (keydown.enter)="formNav.HandleFormEnter($event)" *ngIf="this.OutGoingDelivery">
                <label>Ár felülvizsg.?</label>

                <input class="" class="{{TileCssClass}}" type="checkbox" formControlName="priceReview"
                    [readonly]="isEditModeOff" (click)="formNav.HandleFormFieldClick($event)">
            </div>

            <!-- AUTH -->
            <app-auth-fields [userName]="data.username ?? ''" [loginName]="data.loginName ?? ''"
                            [formNav]="formNav" style="display: none;"
                            (authChange)="handleAuthChange($event)"
                            (ready)="handleAuthComponentReady($event)">
            </app-auth-fields>
        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="close(true)" (focusin)="FocusSaveButton()" status="primary" tabindex="-1" id="confirm-dialog-button-yes">Igen</button>
        <button nbButton (click)="close(false)" status="danger" tabindex="-1" id="confirm-dialog-button-no">Nem</button>
    </nb-card-footer>
</nb-card>