<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <!-- <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm"
            [KeySetting]="KeySetting"></app-crud-buttons> -->

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.escape)="currentForm.HandleFormEscape()" (focusout)="currentForm.HandleFormFocusOut()"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Számlaszám</label>
                    <input nbInput type="text" formControlName="invoiceNumber" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Raktár</label>
                    <input nbInput type="text" formControlName="warehouse" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Partner</label>
                    <input nbInput type="text" formControlName="customerName" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Partner címe</label>
                    <input nbInput type="text" formControlName="customerCity" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Fizetési mód</label>
                    <input nbInput type="text" formControlName="paymentMethodX" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Teljesítés</label>
                    <input nbInput type="datetime" mask="0000-00-00" formControlName="invoiceDeliveryDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kelt.</label>
                    <input nbInput type="datetime" mask="0000-00-00" formControlName="invoiceIssueDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Fiz.hat.</label>
                    <input nbInput type="datetime" mask="0000-00-00" formControlName="paymentDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Nettó érték</label>
                    <input nbInput type="text" formControlName="invoiceNetAmount" [inputMask]="numberInputMask" placeholder="0.00" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Áfa értéke</label>
                    <input nbInput type="text" formControlName="invoiceVatAmount" [inputMask]="numberInputMask" placeholder="0.00" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Bruttó érték</label>
                    <input nbInput type="text" formControlName="invoiceGrossAmount" [inputMask]="numberInputMask" placeholder="0.00" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>
                    <input nbInput type="text" formControlName="notice" [inputMask]="numberInputMask" placeholder="0.00" readonly>
                </div>
            </nb-form-field>
        </form>
    </nb-card-body>
</nb-card>