<nb-card>
    <nb-card-body class="bbx-fd-ncb">
        <!-- <app-crud-buttons class="crud-buttons" [TileCssClass]="TileCssClass" [currentForm]="currentForm"
            [KeySetting]="KeySetting"></app-crud-buttons> -->

        <form *ngIf="!!currentForm" id="sideBarForm" [formGroup]="currentForm.form" #formDirective="ngForm"
            (keydown.escape)="currentForm.HandleFormEscape()" (focusout)="currentForm.HandleFormFocusOut()"
            (click)="currentForm.HandleFormClick()">

            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Számlaszám</label>
                    <input nbInput type="text" formControlName="invoiceNumber" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Raktár</label>
                    <input nbInput type="text" formControlName="warehouse" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Partner</label>
                    <input nbInput type="text" formControlName="customerName" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Partner címe</label>
                    <input nbInput type="text" formControlName="customerCity" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Fizetési mód</label>
                    <input nbInput type="text" formControlName="paymentMethodX" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Teljesítés</label>
                    <input nbInput type="text" formControlName="invoiceDeliveryDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Kelt.</label>
                    <input nbInput type="text" formControlName="invoiceIssueDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Fiz.hat.</label>
                    <input nbInput type="text" formControlName="paymentDate" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Nettó érték</label>
                    <input nbInput type="text" formControlName="invoiceNetAmount" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Áfás érték</label>
                    <input nbInput type="text" formControlName="invoiceVatAmount" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Bruttó érték</label>
                    <input nbInput type="text" formControlName="invoiceGrossAmount" readonly>
                </div>
            </nb-form-field>
            <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)">
                <div class="bbx-fd-form-field-inner-div">
                    <label>Megjegyzés</label>
                    <input nbInput type="text" formControlName="notice" readonly>
                </div>
            </nb-form-field>

            <!-- <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">E.Krt.</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="oCalcQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">E.Valós</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="oRealQty"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">E.Kiadott</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="oOutQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">V.Krt</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="xCalcQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">V.Valós</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="xRealQty"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">V.Kiadott</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="xOutQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Új Krt</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="nCalcQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Új Valós</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="nRealQty"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Új Kiadott</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="nOutQty" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div>

            <div class="bbx-fd-form-field-wrapper-div-row">
                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2 bbx-fd-form-field-inner-div-first">
                        <label class="multicol-label-col-1">Eredeti ELÁBÉ</label>

                        <input class="{{TileCssClass}} {{TileCssColClass}}" nbInput type="text"
                            formControlName="oAvgCost" [readonly]="isEditModeOff" [inputMask]="numberInputMask"
                            placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>

                <nb-form-field (keydown.enter)="currentForm.HandleFormEnter($event)" class="bbx-fd-form-field-50">
                    <div class="bbx-fd-form-field-inner-div-2">
                        <label class="multicol-label-col-2">Új ELÁBÉ</label>

                        <input class="{{TileCssClass}}" nbInput type="text" formControlName="nAvgCost"
                            [readonly]="isEditModeOff" [inputMask]="numberInputMask" placeholder="0.00000" readonly>
                    </div>
                </nb-form-field>
            </div> -->
        </form>
    </nb-card-body>
</nb-card>