.layout-grid {
    display: grid;

    min-width: 100%;
    min-height: 100%;

    align-content: space-evenly;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
}

.separator-vertical {
  background: #3ed820;
  width: 5px;
  border: #000000 1px solid;
  border-radius: 50px;
  min-height: 100%;
}

.separator-horizontal {
  background: #3ed820;
  height: 5px;
  border: #000000 1px solid;
  min-width: 100%;
}

// Layout proportions

$proportionMax: 100;

@for $i from 0 through $proportionMax {
    .layout-proportion-of-#{$i} {
        grid-template-columns: calc(0% + #{$i}%) 1% calc(99% - #{$i}%);
        grid-template-rows: 100%;
    }
}