<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Javítandó számla</span>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body">
        valami
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="select()" status="primary" tabindex="-1" id="confirm-dialog-button-yes">
            OK
        </button>
        <button nbButton (click)="close()" status="danger" tabindex="-1" id="confirm-dialog-button-no">
            Mégse
        </button>
    </nb-card-footer>
</nb-card>
