<as-split direction="horizontal">
    <as-split-area [size]="50">
        <app-head-line msg="Számlák"></app-head-line>

        <div class="filter-div">
            <nb-card class="filter-card">
                <nb-card-body class="filter-card-body">
                    <form [formGroup]="filterForm" #formDirective="ngForm" [id]="filterFormId"
                        (keydown.escape)="filterFormNav.HandleFormEscape()">

                        <app-bbx-two-row-combo-box class="bbx-sidebar-combo" [currentForm]="filterFormNav"
                            formFieldName="WarehouseCode" class="nav-configuration" label="Raktár"
                            [data$]="wareHouseData$">
                        </app-bbx-two-row-combo-box>

                        <nb-radio-group formControlName="DateFilterChooser" class="bbx-radiogroup">
                            <nb-radio (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                                [value]="ChosenIssueFilterOptionValue">Számla keltezés</nb-radio>
                            <nb-radio (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                                [value]="ChosenDeliveryFilterOptionValue">Számla teljesítése</nb-radio>
                        </nb-radio-group>

                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                            *ngIf="isIssueFilterSelected">
                            <label>Keltezés kezdete</label>
                            <input nbInput type="datetime" formControlName='InvoiceIssueDateFrom'
                                class="{{TileCssClass}}" (click)="filterFormNav.HandleFormFieldClick($event)"
                                [readonly]="isEditModeOff" id="m02" mask="0000-00-00" [dropSpecialCharacters]="false"
                                [showMaskTyped]="true" [validation]="true">
                            <app-form-control-error [form]="filterFormNav" controlName="InvoiceIssueDateFrom"
                                [validationParameterDate]="invoiceIssueDateToValue">
                            </app-form-control-error>
                        </nb-form-field>

                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                            *ngIf="isIssueFilterSelected">
                            <label>Keltezés vége</label>
                            <input nbInput type="datetime" formControlName='InvoiceIssueDateTo' class="{{TileCssClass}}"
                                (click)="filterFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m03"
                                mask="0000-00-00" [dropSpecialCharacters]="false" [showMaskTyped]="true"
                                [validation]="true">
                            <app-form-control-error [form]="filterFormNav" controlName="InvoiceIssueDateTo"
                                [validationParameterDate]="invoiceIssueDateFromValue">
                            </app-form-control-error>
                        </nb-form-field>

                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                            *ngIf="isDeliveryFilterSelected">
                            <label>Teljesítés kezdete</label>
                            <input nbInput type="datetime" formControlName='InvoiceDeliveryDateFrom'
                                class="{{TileCssClass}}" (click)="filterFormNav.HandleFormFieldClick($event)"
                                [readonly]="isEditModeOff" id="m03" mask="0000-00-00" [dropSpecialCharacters]="false"
                                [showMaskTyped]="true" [validation]="true">
                            <app-form-control-error [form]="filterFormNav" controlName="InvoiceDeliveryDateFrom"
                                [validationParameterDate]="invoiceDeliveryDateToValue">
                            </app-form-control-error>
                        </nb-form-field>

                        <nb-form-field (keydown.enter)="filterFormNav.HandleFormEnter($event, true, true, true)"
                            *ngIf="isDeliveryFilterSelected">
                            <label>Teljesítés vége</label>
                            <input nbInput type="datetime" formControlName='InvoiceDeliveryDateTo'
                                class="{{TileCssClass}}" (click)="filterFormNav.HandleFormFieldClick($event)"
                                [readonly]="isEditModeOff" id="m03" mask="0000-00-00" [dropSpecialCharacters]="false"
                                [showMaskTyped]="true" [validation]="true">
                            <app-form-control-error [form]="filterFormNav" controlName="InvoiceDeliveryDateTo"
                                [validationParameterDate]="invoiceDeliveryDateFromValue">
                            </app-form-control-error>
                        </nb-form-field>

                        <div class="form-row">
                            <button nbButton class="{{TileCssClass}}"
                                (click)="Refresh(getInputParams)" [disabled]="!!filterForm.invalid"
                                status="primary">Keresés</button>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>

        <app-flat-design-table [showMsgOnNoData]="false" [allColumns]="allColumns" [colDefs]="colDefs"
            [dbDataDataSrc]="dbDataDataSrc" [dbDataTable]="dbDataTable" [dbDataTableId]="dbDataTableId"
            [heightMargin]="420" [trackRows]="trackRows" [isLoading]="isLoading" (focusInTable)="focusOnTable(true)"
            (focusOutTable)="focusOnTable(false)">
        </app-flat-design-table>

        <nb-card>
            <nb-card-footer>
                <table class="table-statistics-net-vat-gross">
                    <tr>
                        <td>Összes bruttó: {{sumGrossAmount | number:'1.1-2':'fr' | replace:',':'.'}}</td>
                        <td>Összes nettó: {{sumNetAmount | number:'1.1-2':'fr' | replace:',':'.'}}</td>
                        <td>Összes ÁFA: {{sumVatAmount | number:'1.1-2':'fr' | replace:',':'.'}}</td>
                    </tr>
                </table>
            </nb-card-footer>
        </nb-card>

        <app-fkey-buttons-row [flexWrap]="true" *ngIf="isSideBarOpened"></app-fkey-buttons-row>
    </as-split-area>
    <as-split-area [size]="50" *ngIf="isSideBarOpened">
        <app-invoice-nav-side-bar-form class="bbx-sidebar"></app-invoice-nav-side-bar-form>
    </as-split-area>
</as-split>