$label-w-min: 185px;

.label-type-1 {
    min-width: $label-w-min;
}

.input-type-1 {
    margin-top: 2px;
    max-width: 100% !important;
}

.input-type-1-checkbox {
    margin-top: 12px;
}

nb-option[disabled] {
    display: none;
}

label {
    align-self: center;
    text-align: right;
}
label.label-checkbox {
    align-self: auto !important;
}

label {
    @extend .label-type-1;
}

.bbx-fd-ncb {
    margin-top: 25px !important;
    padding-right: 5px !important;
}

nb-form-field {
    max-width: 100% !important;
}

.bbx-fd-form-field-wrapper-div-row,
.bbx-sidebar-combo > .bbx-fd-form-field-wrapper-div-row {
    display: flex;

    column-gap: 20px;

    justify-content: flex-start;

    .bbx-fd-form-field-inner-div-2,
    .bbx-sidebar-combo > .bbx-fd-form-field-inner-div-2 {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        align-content: center;
        justify-content: space-between;
        align-items: baseline;

        column-gap: 20px;

        input {
            @extend .input-type-1;
        }

        input[type="checkbox"] {
            @extend .input-type-1-checkbox;
        }
    }

    .bbx-fd-form-field-inner-div-first {
        label {
            @extend .label-type-1;
        }
    }
}

.bbx-fd-form-field-inner-div,
.bbx-sidebar-combo > .bbx-fd-form-field-inner-div {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    align-content: center;
    justify-content: space-between;
    align-items: baseline;

    column-gap: 20px;

    input {
        @extend .input-type-1;
    }

    input[type="checkbox"] {
        @extend .input-type-1-checkbox;
    }

    label {
        @extend .label-type-1;
    }
}

.bbx-fd-checkbox-outer-div {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    align-content: center;
    align-items: baseline;

    column-gap: 20px;

    width: 600px;
}

.display-as-block {
    display: block;
}

$colSizeLimit: 80;

@for $i from 0 through $colSizeLimit {
    .bbx-fd-form-field-#{$i} {
        width: (0% + $i) !important;
    }
}

.bbx-fd-form-field-30 {
    width: 30% !important;
}

.nb-transition {
    min-height: 38px;
}