<ng-container *ngIf="simpleMode">
    <nb-form-field [ngClass]="wrapperClass" *ngIf="!!(currentForm?.form)" [formGroup]="currentForm!.form"
        (keydown.enter)="currentForm?.HandleFormDropdownEnter($event, defaultDataCount, comboBoxData, '', false, lastFormField)">
        <div class="bbx-fd-form-field-inner-div" [ngClass]="cssClasses">
            <label>{{label}}</label>

            <input class="{{TileCssClass}}" [formControlName]="formFieldName" nbInput type="text"
                (click)="currentForm?.HandleFormFieldClick($event)" [nbAutocomplete]="autoComboBoxComplete"
                readonly autocomplete="off" />
        </div>
        <app-form-control-error *ngIf="needErrorMsg" [form]="currentForm" [label]="label.toLowerCase()" [controlName]="formFieldName">
        </app-form-control-error>
    </nb-form-field>
    <!-- AUTOCOMPLETE -->
    <nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxComplete [activeFirst]="false"
        (selectedChange)="currentForm?.HandleAutoCompleteSelect($event, formFieldName)">
        <nb-option *ngFor="let option of data$ | async; let i = index" [value]="option">
            {{ option }}
        </nb-option>
    </nb-autocomplete>
</ng-container>

<ng-container *ngIf="!simpleMode">
    <nb-form-field [ngClass]="wrapperClass" *ngIf="!!(currentForm?.form)" [formGroup]="currentForm!.form"
        (keydown.enter)="currentForm?.HandleFormDropdownEnter($event, currentDataCount, currentFilteredData, currentTypedData, false, lastFormField)">
        <div class="bbx-fd-form-field-inner-div" [ngClass]="cssClasses">
            <label>{{label}}</label>

            <input class="{{TileCssClass}}" [formControlName]="formFieldName" nbInput type="text"
                (click)="currentForm?.HandleFormFieldClick($event)" [nbAutocomplete]="autoComboBoxComplete"
                [readonly]="isEditModeOff" autocomplete="off" />
        </div>
        <app-form-control-error *ngIf="needErrorMsg" [form]="currentForm" [label]="label.toLowerCase()" [controlName]="formFieldName">
        </app-form-control-error>
    </nb-form-field>
    <!-- AUTOCOMPLETE -->
    <nb-autocomplete [ngClass]="wrapperClass" #autoComboBoxComplete [activeFirst]="false"
        (selectedChange)="currentForm?.HandleAutoCompleteSelect($event, formFieldName)">
        <nb-option *ngFor="let option of filteredData$ | async; let i = index" [value]="option">
            {{ option }}
        </nb-option>
    </nb-autocomplete>
</ng-container>