<as-split direction="horizontal">
    <as-split-area [size]="50">
        <app-hozirontal-split-layout proportion="25" [hideDivider]="true">
            <app-head-line msg="Raktárkészlet bizonylatok" title></app-head-line>
            <app-warehouse-document-filter-form (refreshClicked)="refreshClicked($event)" top></app-warehouse-document-filter-form>

            <ng-container bottom>
                <app-flat-design-table [allColumns]="allColumns" [colDefs]="colDefs" [dbDataDataSrc]="dbDataDataSrc"
                    [heightMargin]="305" [dbDataTable]="dbDataTable" [dbDataTableId]="dbDataTableId" [trackRows]="trackRows"
                    [isLoading]="isLoading" (focusInTable)="focusOnTable(true)" (focusOutTable)="focusOnTable(false)">
                </app-flat-design-table>
                
                <app-fkey-buttons-row [flexWrap]="true" *ngIf="isSideBarOpened"></app-fkey-buttons-row>
            </ng-container>
        </app-hozirontal-split-layout>
    </as-split-area>
    <as-split-area [size]="50" *ngIf="isSideBarOpened">
        <app-warehouse-document-side-bar-form class="bbx-sidebar"></app-warehouse-document-side-bar-form>
    </as-split-area>
</as-split>