<nb-card [class]="wrapper_classes">
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body class="form-col-1">
        <form id="oneInputForm" [formGroup]="formNav.form" #formDirective="ngForm"
            (keydown.escape)="formNav.HandleFormEscape()">
            <nb-form-field (keydown.enter)="MoveToSaveButtons($event)">
                <label>{{inputLabel}}</label>
                <app-bbx-numeric-input *ngIf="!limitValue"
                    formControlName='answer'[placeholder]="placeHolder"
                    input_class="{{TileCssClass}} one-number-input-dialog-input"
                    (click)="formNav.HandleFormFieldClick($event)"
                    [required]="true">
                </app-bbx-numeric-input>
                
                <app-bbx-numeric-input *ngIf="limitValue"
                    formControlName='answer'
                    input_class="{{TileCssClass}} one-number-input-dialog-input"
                    [min]="minValue" [max]="maxValue"
                    input_type="INTEGER"
                    (click)="formNav.HandleFormFieldClick($event)"
                    [required]="true">
                </app-bbx-numeric-input>
            </nb-form-field>
            <app-form-control-error *ngIf="limitValue" [form]="formNav" [min]="minValue" [max]="maxValue" [label]="inputLabel"
                controlName="answer"></app-form-control-error>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="{{TileCssClass}}" id="date-interval-dialog-button-yes" nbButton (click)="close(true)" [disabled]="formNav && formNav.form && formNav.form.invalid"
            status="primary" tabindex="-1">Igen</button>
        <button class="{{TileCssClass}}" id="date-interval-dialog-button-no" nbButton (click)="close(false)"
            status="danger" tabindex="-1">Nem</button>
    </nb-card-footer>
</nb-card>