<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>{{title}}</span>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body">
        <form *ngIf="!!inputForm" [formGroup]="inputForm" #formDirective="ngForm" [id]="formId">
            <app-auth-fields [formNav]="formNav" [userName]="username" [loginName]="loginname"
                style="display: none;" (authChange)="handleAuthChange($event)"
                (ready)="handleAuthComponentReady($event)">
            </app-auth-fields>
        </form>
    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer">
        <button nbButton (click)="close(true)" status="primary" tabindex="-1"
            id="confirm-dialog-button-yes">Igen</button>
        <button nbButton (click)="close(false)" status="danger" tabindex="-1"
            id="confirm-dialog-button-no">Nem</button>
    </nb-card-footer>
</nb-card>