<app-head-line msg="Árajánlat felvétele"></app-head-line>

<div class="filter-div">
    <nb-card class="filter-card">
        <nb-card-body class="filter-card-body">
            <form [formGroup]="buyerForm" #formDirective="ngForm" [id]="buyerFormId" class="form-with-rows"
                (keydown.escape)="buyerFormNav.HandleFormEscape()">
                <div class="form-row">
                    <table class="customer-search-row">
                        <tr>
                            <td>
                                <nb-form-field class="search-row-nb-form-field"
                                    (keydown.enter)="buyerFormNav.HandleFormEnter($event, true, true, true)"
                                    (keydown.F2)="buyerFormNav.HandleKey($event, 'customerSearch')"
                                    (keydown.F3)="CreateCustomer($event)">
                                    <label>Ügyfél keresés</label>
                                    <input formControlName="customerSearch" nbInput type="text" class="{{TileCssClass}}"
                                        maxlength="80"
                                        (click)="buyerFormNav.HandleFormFieldClick($event)"
                                        (input)="FillFormWithFirstAvailableCustomer($event)" [readonly]="isEditModeOff"
                                        placeholder="Keresés" autocomplete="off" id="r00" />
                                </nb-form-field>
                            </td>
                            <td>
                                <button *ngIf="searchByTaxtNumber" nbButton
                                    [disabled]="isLoading"
                                    [ngClass]="searchByTaxtNumber ? 'btn-show' : 'btn-hide'" class="{{TileCssClass}}"
                                    (click)="ChoseDataForFormByTaxtNumber()" status="primary" tabindex="-1">NAV</button>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Ügyfél</label>
                                    <input nbInput type="text" formControlName='customerName' readonly>
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Ügyfél Cím</label>
                                    <input nbInput type="text" formControlName='customerAddress' readonly>
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Ügyfél Adószám</label>
                                    <input nbInput type="text" formControlName='customerTaxNumber' readonly>
                                </nb-form-field>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav" label="ügyfél" controlName="customerName">
                                </app-form-control-error>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav" label="ügyfél cím" controlName="customerAddress">
                                </app-form-control-error>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav" label="ügyfél adószám" controlName="customerTaxNumber">
                                </app-form-control-error>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-row">
                    <table class="customer-search-row">
                        <tr>
                            <td>
                                <nb-form-field (keydown.enter)="buyerFormNav.HandleFormEnter($event, true, true, true)">
                                    <label>Kiállítás dátuma</label>
                                    <input nbInput type="datetime" formControlName='offerIssueDate' class="{{TileCssClass}}"
                                        (click)="buyerFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02" mask="0000-00-00"
                                        [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field (keydown.enter)="buyerFormNav.HandleFormEnter($event, true, true, true)">
                                    <label>Érvényesség dátuma</label>
                                    <input nbInput type="datetime" formControlName='offerVaidityDate' class="{{TileCssClass}}"
                                        (click)="buyerFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02" mask="0000-00-00"
                                        [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                                </nb-form-field>
                            </td>
                            <td>
                                <nb-form-field>
                                    <label>Sorszám</label>
                                    <input nbInput type="text" formControlName='offerNumberX' placeholder="Sorszám" readonly>
                                </nb-form-field>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav" label="kiállítás dátuma" controlName="offerIssueDate">
                                </app-form-control-error>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav" label="érvényesség dátuma" controlName="offerVaidityDate">
                                </app-form-control-error>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-row">
                    <div>
                        <label>Megjegyzés</label>
                        <angular-editor formControlName="notice" [config]="editorConfig"
                            (keydown.esc)="JumpToFirstCellAndNav()"
                            (keydown.tab)="JumpToFirstCellAndNav()"
                            placeholder="Szövegbevitel végeztével escape megnyomása után navigálhat el másik elemre."
                            class="{{TileCssClass}}"></angular-editor>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>

<nb-card [nbSpinner]="isLoading" *ngIf="!!dbDataTable">
    <nb-card-body>
        <app-inline-editable-table [parent]="this" [allColumns]="allColumns" [colDefs]="colDefs"
            [dbDataDataSrc]="dbDataDataSrc" [heightMargin]="560" [dbDataTable]="dbDataTable" [dbDataTableId]="dbDataTableId"
            [trackRows]="trackRows" [isLoading]="isLoading" (focusInTable)="focusOnTable(true)" (focusOutTable)="focusOnTable(false)">
        </app-inline-editable-table>
    </nb-card-body>
    <nb-card-footer class="invoice-table-statistics">
        <table class="table-statistics-net-vat-gross">
            <tr>
                <td>Összes nettó: {{offerData.offerNetAmount | number:'1.2':'fr' | replace:',':'.'}}</td>
                <td>Összes bruttó: {{offerData.offerGrossAmount | number:'1.2':'fr' | replace:',':'.'}}</td>
            </tr>
        </table>
    </nb-card-footer>
</nb-card>