<div class="layout-grid">
    <div class="inner-grid-top">
        <div class="div-stretch">
            <!-- LABELS -->
            <ng-content select="[labels]"></ng-content>
        </div>
        
        <div class="card-col separator-vertical"></div>
        
        <div class="div-stretch">
            <!-- CUSTOMER FORM -->
            <ng-content select="[left]"></ng-content>
        </div>
        
        <div class="card-col separator-vertical"></div>
        
        <div class="div-stretch">
            <!-- CUSTOMER FORM -->
            <ng-content select="[right]"></ng-content>
        </div>
    </div>
    
    <div class="separator-horizontal"></div>
    
    <div class="div-stretch">
        <!-- DATA FORM -->
        <ng-content select="[middle]"></ng-content>
    </div>
    
    <div class="separator-horizontal"></div>
    
    <div class="div-stretch">
        <!-- TABLE -->
        <ng-content select="[bottom]"></ng-content>
    </div>
</div>