<div *ngIf="!!form && !!controlName && form.CanShowFormErrors(controlName)" class="alert alert-danger">
    <div *ngIf="form?.IsErrorApparent(controlName, 'required')">
        {{ GetErrorMessage(ValidationMessage.ErrorRequired) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'min')">
        {{ GetErrorMessage(ValidationMessage.ErrorMin) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'max')">
        {{ GetErrorMessage(ValidationMessage.ErrorMax) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'todaysDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorTodaysDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'minDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMinDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'maxDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMaxDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'minMaxDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMinMaxDate) }}
    </div>
</div>