<div *ngIf="!!form && !!controlName && form.CanShowFormErrors(controlName) && formGroupMode"
    class="alert-error alert-danger">
    <div>
        {{ formGroupMessage }}
    </div>
</div>
<div *ngIf="!!form && !!controlName && form.CanShowFormErrors(controlName) && !formGroupMode" class="alert-error alert-danger">
    <div *ngIf="form?.IsErrorApparent(controlName, 'required')">
        {{ GetErrorMessage(ValidationMessage.ErrorRequired) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'min')">
        {{ GetErrorMessage(ValidationMessage.ErrorMin) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'max')">
        {{ GetErrorMessage(ValidationMessage.ErrorMax) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'todaysDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorTodaysDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'minDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMinDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'maxDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMaxDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'minLength')">
        {{ GetErrorMessage(ValidationMessage.ErrorMinDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'maxLength')">
        {{ GetErrorMessage(ValidationMessage.ErrorMaxDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'minMaxDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorMinMaxDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'validDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorValidDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'wrongDate')">
        {{ GetErrorMessage(ValidationMessage.ErrorWrongDate) }}
    </div>
    <div *ngIf="form?.IsErrorApparent(controlName, 'invalidSelectedValue')">
        {{ GetErrorMessage(ValidationMessage.ErrorInvalidSelectedValue) }}
    </div>
</div>