<app-head-line msg="Leltári tételek felvitele"></app-head-line>

<div class="filter-div">
    <nb-card class="filter-card">
        <nb-card-body class="filter-card-body">
            <form [formGroup]="buyerForm" #formDirective="ngForm" [id]="buyerFormId" class="form-with-rows"
                (keydown.escape)="buyerFormNav.HandleFormEscape()">
                <div class="form-row">
                    <table class="customer-search-row">
                        <tr>
                            <td>
                                <app-bbx-combo-box [labelAboveField]="true" [needErrorMsg]="false" [currentForm]="buyerFormNav" formFieldName="invCtrlPeriod" label="Leltári időszak"
                                    [needBlankOption]="false" [simpleMode]="true" [data$]="invCtrlPeriodComboData$" class="block-width-of-500px"></app-bbx-combo-box>
                            </td>
                            <td>
                                <nb-form-field (keydown.enter)="buyerFormNav.HandleFormEnter($event, true, true, true)">
                                    <label>Leltározás dátuma</label>
                                    <input nbInput type="datetime" formControlName='invCtrlDate' class="{{TileCssClass}}"
                                        (click)="buyerFormNav.HandleFormFieldClick($event)" [readonly]="isEditModeOff" id="m02" mask="0000-00-00"
                                        [dropSpecialCharacters]="false" [showMaskTyped]="true" [validation]="true">
                                </nb-form-field>
                            </td>
                            <td>
                                <app-form-control-error [form]="buyerFormNav"
                                    controlName="invCtrlPeriod">
                                </app-form-control-error>
                                <app-form-control-error [form]="buyerFormNav"
                                    controlName="invCtrlDate">
                                </app-form-control-error>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>

<nb-card [nbSpinner]="showSpinnerOnTable" *ngIf="!!dbDataTable">
    <nb-card-body>
        <app-inline-editable-table [parent]="this" [allColumns]="allColumns" [colDefs]="colDefs"
            [dbDataDataSrc]="dbDataDataSrc" [heightMargin]="640" [dbDataTable]="dbDataTable" [confirmRowDelete]="true"
            [dbDataTableId]="dbDataTableId" [trackRows]="trackRows" [isLoading]="isLoading"
            (focusInTable)="focusOnTable(true)" (focusOutTable)="focusOnTable(false)"
            (tableKeyDown)="onTableFunctionKeyDown($event)"
            [confirmRowDelete]="true">
        </app-inline-editable-table>
    </nb-card-body>
    <nb-card-footer class="invoice-table-statistics"></nb-card-footer>
</nb-card>