<nb-card>
    <nb-card-header>Mentés</nb-card-header>
    <nb-card-footer>
        <button nbButton (click)="close(offerEditSaveOptions.SAVE_WITHOUT_VERSIONING)" status="primary" tabindex="-1"
            id="button-1">Módosítás verziózás nélkül</button>
        <button nbButton (click)="close(offerEditSaveOptions.SAVE_WITH_VERSIONING)" status="primary" tabindex="-1"
            id="button-2">Módosítás verziózással</button>
        <button nbButton (click)="close(offerEditSaveOptions.SAVE_NEW_VERSION)" status="primary" tabindex="-1"
            id="button-3">Új árajánlat készítése</button>
    </nb-card-footer>
</nb-card>