@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

$selected-border-color: rgb(0, 231, 104);

body,
html {
  height: 100%;
  overflow: hidden;
}

.layout {
  min-height: 10vh !important;
  padding: 0px !important;
}

nb-layout-column {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;

  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;

  margin-top: 5px !important;
  padding-top: 0px !important;
}

::ng-deep nb-card-header {
  font-size: 1.5rem !important;
}

nb-layout-footer.custom {
  nav {
    padding: 0px !important;
    background: none !important;
  }
}

input,
label,
th,
td {
  font-size: 1rem;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// Flat Design

.bbx-fd-sidebar {
  top: 0px !important;
  z-index: 1;

  .bbx-fd-app-sidebar-form {
    form {
      min-height: 80vh;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      align-items: flex-start;
      align-content: flex-start;

      margin-top: 25px; // justify-content: center;

      .bbx-fd-form-field-inner-div {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        align-content: center;
        justify-content: space-evenly;
        align-items: baseline;

        column-gap: 20px;

        width: 300px;

        input {
          margin-top: 8px;
          margin-bottom: 20px;
        }
      }
    }

    .bbx-fd-checkbox-outer-div {
      display: flex;

      flex-direction: row;
      flex-wrap: nowrap;

      align-content: center;
      align-items: baseline;

      column-gap: 20px;

      width: 300px;

      margin-bottom: 10px;

      // .bbx-fd-checkbox {
      //   background-color: #252547;
      //   border-color: #13132b;

      //   :focus {
      //     background-color: #323259;
      //     border-color: #a16eff;
      //   }
      // }
    }
  }

  .bbx-fd-sidebar-functions {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    align-content: stretch;
    align-items: stretch;

    justify-content: space-between;

    row-gap: 10px;
  }
}

// Placing toastr popups to bottom center
.toastr-overlay-container {
  justify-content: center !important;
  align-items: end !important;
}

// Selected element

.current-keyboard-nav-selected {
  outline: none;
  border: $selected-border-color dotted 3px !important;
}

:has(.angular-editor-textarea).current-keyboard-nav-selected {
  border: none !important;

  .angular-editor-textarea {
    outline: none;
    border: $selected-border-color dotted 3px !important;
  }
}

input[type="checkbox"].current-keyboard-nav-selected {
  outline: none;
  // border: $selected-border-color dotted 3px !important;
  -webkit-box-shadow: 0px 0px 0px 3px $selected-border-color;
  -moz-box-shadow: 0px 0px 0px 3px $selected-border-color;
  box-shadow: 0px 0px 0px 3px $selected-border-color;
}

input[type="radio"].current-keyboard-nav-selected {
  outline: 3px dotted $selected-border-color !important;
}

// Fix width %, align... styles for overwriting framework built-in or other styles
// Do not move these rules from the global stylesheet

$widthManipulatorMax: 100;
@for $i from 0 through $widthManipulatorMax {
    input.width-of-#{$i}-percent {
        min-width: calc(0% + #{$i}%) !important;
        max-width: calc(0% + #{$i}%) !important;
    }
    div.width-of-#{$i}-percent {
        min-width: calc(0% + #{$i}%) !important;
        max-width: calc(0% + #{$i}%) !important;
    }
    label.width-of-#{$i}-percent {
        min-width: calc(0% + #{$i}%) !important;
        max-width: calc(0% + #{$i}%) !important;
    }
}

.text-center {
  text-align: center !important;
}

input.text-center {
  text-align: center !important;
}

/*
    COLORS
    Find Nebular cosmic theme overrides in: themes.scss
*/

//// Misc
.as-split-gutter {
  background-color: #1112A0 !important;
}

//// Table
tr.parent-of-current-keyboard-nav-selected {
  background: rgb(22, 22, 134) !important;
}

//// Angular Editor component
.angular-editor-toolbar {
  background-color: #101089 !important;

  button {
    background-color: #0f0fb9 !important;
    color: white;
  }

  // This won't work!
  // .angular-editor-wrapper {
  //   .angular-editor-placeholder {
  //     color: #e1d7eb !important;
  //   }
  // }
}
// Need to define it outside
.angular-editor-placeholder {
  color: #e1d7eb !important;
}