/*
    Variables
*/

$loopUntil100: 100;

/*
    Display
*/

.flex {
    display: flex !important;
}

.inline-block {
    display: inline-block !important;
}

/*
    Margins
*/

@for $i from 0 through $loopUntil100 {
    .margin-right-#{$i} {
        margin-right:  #{$i}px !important;
    }
    .margin-left-#{$i} {
        margin-left:  #{$i}px !important;
    }
    .margin-top-#{$i} {
        margin-top:  #{$i}px !important;
    }
    .margin-bottom-#{$i} {
        margin-bottom:  #{$i}px !important;
    }
}

/*
    Paddings
*/

@for $i from 0 through $loopUntil100 {
    .padding-right-#{$i} {
        padding-right:  #{$i}px !important;
    }
    .padding-left-#{$i} {
        padding-left:  #{$i}px !important;
    }
    .padding-top-#{$i} {
        padding-top:  #{$i}px !important;
    }
    .padding-bottom-#{$i} {
        padding-bottom:  #{$i}px !important;
    }
}