// Width

$widthManipulatorMax: 100;
$pixelWidthManipulatorMax: 1000;
$pixelHeightanipulatorMax: 1000;

// TODO: átszervezni bbx-atomic-styles.scss-be

@for $i from 0 through $widthManipulatorMax {
    .width-of-#{$i} {
        width: calc(0% + #{$i}%) !important;
    }
}

@for $i from 0 through $pixelWidthManipulatorMax {
    .width-of-#{$i}px {
        width: #{$i}px !important;
    }
}

@for $i from 0 through $pixelHeightanipulatorMax {
    .height-of-#{$i}px {
        height: #{$i}px !important;
    }
}

@for $i from 0 through $pixelWidthManipulatorMax {
    .block-width-of-#{$i}px {
        display: block !important;
        width: #{$i}px !important;
    }
}