@use 'table-common';
@use 'common-styles';
@use 'bbx-atomic-styles';

$td-height: 30px;

// Paginator

.footer-paginator {
    padding: 0px;
}

// TABLE: Rows

.card-table-wrapper {
    position: sticky;
    top: 0;

    tr > th {
        position: sticky;
        top: -1px;
    }

    th {
        padding: 5px;
    }

    nb-form-field {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    tr:nth-child(odd),
    tr:nth-child(even) {
        th,
        td {
            height: $td-height;
            word-break: break-all;

            &.table-cell-edited {
                padding: 0px;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    font-size: 1.1rem !important;

                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    th {
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
    }
}

.card-labels-right {
    display: flex;
    flex-direction: column;

    text-align: right;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-labels-left {
    display: flex;
    flex-direction: column;

    text-align: left;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

nb-form-field {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

nb-card-header {
    padding: 0px;
}

.card-row {
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .card-col-labels {
        ::ng-deep nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            width: 15vw;
            form {
                min-width: fit-content;
                margin: auto;
            }
        }
    }

    .card-col-1,
    .card-col-2 {
        width: 40vw;
        margin: auto;

        nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            form {
                min-width: fit-content;
                margin: auto;

                nb-form-field {
                    min-width: fit-content !important;
                    margin: 0;

                    input {
                        min-width: 38vw;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    .card-cols {
        display: flex;
        flex-direction: row;
    }
}

.card-col,
.card-col-1 {
    margin: 0;
}

.card-col-2 {
    @media (max-height: 1000px) {
        nb-card-body {
            padding: 0.2rem 0.8rem !important;
        }
    }
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex: 1 0 18%;
    }

    nb-form-field {
        min-width: 20% !important;

        input,
        nb-select {
            min-width: 100% !important;
        }
    }

    .form-field-full-width {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;
    }

    .form-field-full-width-inner-div {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;

        column-gap: 25px;

        input {
            max-width: 100% !important;
            min-width: auto !important;
        }

        label {
            min-width: fit-content;
        }
    }
}

.bbx-fd-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    .bbx-fd-col-left {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 50%;
    }

    .bbx-fd-col-right {
        min-width: 50%;
    }
}

// Iframe

.innerhtml-table-cell {
    height: 30px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
    resize: none;
    border: none;
    overflow-x: hidden;
}

// Not table

.btn-util {
    height: 20px;
}

.msg {
    display: flex;
    max-width: 800px;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.25rem;
    min-height: 50px;
    align-items: self-end;
}

.bbx-sidebar {
    // position: fixed;
    right: 0px;
    height: 100vh;
    overflow: scroll;
}

.search-label {
    margin-left: 35px;
}

.search-input {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;

    &:focus {
        background-color: rgb(219, 159, 206);
    }
}

// Splitter

.as-split-area {
    max-height: 100vh;
    overflow-y: hidden !important;
}
