nb-form-field {
    margin: 10px;

    margin-left: auto;
    margin-right: auto;
}

.div-wrapper-input {
    display: flex;

    align-items: center;
    column-gap: 15px;

    flex-flow: wrap;
}

nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.card-table-wrapper-form {
    display: flex;
}

.card-table-wrapper {
    display: block;

    position: sticky;
    top: 0;

    @media (max-height: 649px) {
        max-height: 255px !important;
    }
    @media (min-height: 649px) {
        max-height: 300px !important;
    }
    @media (min-height: 680px) {
        max-height: 350px !important;
    }
    @media (min-height: 947px) {
        max-height: 578px !important;
    }

    @media (max-height: 1000px) {
        td {
            padding: 0rem 1.25rem !important;
        }
    }

    tr > th {
        position: sticky;
        top: -1px;
    }

    tr:nth-child(even) {
        background-color: #493668 !important;

        th,
        td {
            height: 50px;

            &.table-cell-edited {
                padding: 0px;

                background-color: #5f4981 !important;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    font-size: 1.2rem !important;

                    color: #ffffff;
                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    tr:nth-child(odd) {
        background-color: #323258 !important;

        th,
        td {
            height: 50px;

            &.table-cell-edited {
                padding: 0px;

                background-color: #3b3b63 !important;

                .input-table-cell {
                    width: 100%;

                    border: none;
                    background: none;
                    text-align: left;

                    padding: 0px;

                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    font-size: 1.2rem !important;

                    color: #ffffff;
                    font-family: Open Sans, sans-serif;
                    font-weight: 400;
                    line-height: 1.25rem;
                }

                div {
                    @media (max-height: 1000px) {
                        padding-left: 0px;
                    }
                    @media (min-height: 1001px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    th {
        background: rgb(35, 35, 75);
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
    }

    .td-focusable:focus {
        background: darkblue;
    }
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 27, 88, 0.767) !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(85, 84, 180, 0.966) !important;
}

.card-labels-right {
    display: flex;
    flex-direction: column;

    text-align: right;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-labels-left {
    display: flex;
    flex-direction: column;

    text-align: left;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

nb-form-field {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

nb-card-header {
    padding: 0px;
}

.card-row {
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .card-col-labels {
        ::ng-deep nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            width: 15vw;
            form {
                min-width: fit-content;
                margin: auto;
            }
        }
    }

    .card-col-1,
    .card-col-2 {
        width: 40vw;
        margin: auto;

        nb-card {
            @media (max-height: 1000px) {
                nb-card-body {
                    padding: 0.1rem 0.8rem !important;
                }
            }
            form {
                min-width: fit-content;
                margin: auto;

                nb-form-field {
                    min-width: fit-content !important;
                    margin: 0;

                    input {
                        min-width: 38vw;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    .card-cols {
        display: flex;
        flex-direction: row;
    }
}

.card-col,
.card-col-1 {
    margin: 0;
}

.card-col-2 {
    @media (max-height: 1000px) {
        nb-card-body {
            padding: 0.2rem 0.8rem !important;
        }
    }
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex: 1 0 18%;
    }

    nb-form-field {
        min-width: 20% !important;

        input,
        nb-select {
            min-width: 100% !important;
        }
    }

    .form-field-full-width {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;
    }

    .form-field-full-width-inner-div {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;

        column-gap: 25px;

        input {
            max-width: 100% !important;
            min-width: auto !important;
        }

        label {
            min-width: fit-content;
        }
    }
}

.bbx-fd-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    .bbx-fd-col-left {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 50%;
    }

    .bbx-fd-col-right {
        min-width: 50%;
    }
}

.bbx-sidebar {
    // position: fixed;
    right: 0px;
    height: 100vh;
    overflow: scroll;
}

.search-label {
    margin-left: 35px;
}

.search-input {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;

    &:focus {
        background-color: rgb(219, 159, 206);
    }
}

.btn-util {
    height: 20px;
}

.msg {
    display: flex;
    max-width: 800px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25rem;
    min-height: 50px;
    align-items: self-end;
}

.as-split-area {
    max-height: 100vh;
    overflow-y: hidden !important;
}