form.invoice-customer-form {
    display: grid;
    justify-content: stretch;
    grid-template-areas:
        "row_1 row_1"
        "row_2 row_2"
        "row_3 row_3"
        "row_4 row_4"
        "row_5 row_6"
        "row_7 row_7";

    min-width: fit-content;
    margin: auto;

    nb-form-field {
        min-width: fit-content !important;
        max-width: 1000px;

        &.area-row-1 {
            grid-area: row_1 !important;
        }
        &.area-row-2 {
            grid-area: row_2 !important;
        }
        &.area-row-3 {
            grid-area: row_3 !important;
        }
        &.area-row-4 {
            grid-area: row_4 !important;
        }
        &.area-row-5 {
            grid-area: row_5 !important;
        }
        &.area-row-6 {
            grid-area: row_6 !important;
        }
        &.area-row-7 {
            grid-area: row_7 !important;
        }

        .private-person {
            color: white;
            background-color: red;
        }

        div {
            display: flex;
            align-items: center;
            label {
                min-width: 130px;
                margin-left: 15px;
            }
        }

        input {
            max-width: 1000px;
            overflow-x: hidden;
        }
    }
}

.customer-search-row {
    height: 45.6px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .card-header-row-txt {
        font-size: xx-large;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.card-header-top-margin {
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-header-title {
    color: #3ed820;
    font-size: 1.5rem !important;
    margin-top: 5px;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 10px;

    label.single_label {
        align-self: center;
        color: #3ed820;
        font-weight: bold;
        font-size: 20px;
    }

    #currency {
        width: 100px;
    }

    #exchange-rate {
        width: 90px;
    }

    nb-form-field {
        width: 180px;

        &.wider {
            width: 270px;
        }

        &:last-child {
            margin: unset;
            max-width: unset;
            flex-basis: 100%;

            .notice {
                display: flex;
                align-items: center;
                gap: 10px;

                label {
                    white-space: nowrap;
                }

                input {
                    max-width: unset;
                }
            }
        }
    }
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.mb-10 {
    margin-bottom: 10px;
}
