$label-w-min: 185px;

.label-type-1 {
    min-width: $label-w-min;
}

.input-type-1 {
    margin-top: 5px;
    max-width: 100% !important;
}

.input-type-1-checkbox {
    margin-top: 20px;
}

label {
    align-self: center;
    text-align: right;
}
label.label-checkbox {
    align-self: auto !important;
}

input[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    margin-bottom: 10px;
    padding: 10px;
}

label {
    @extend .label-type-1;
}

.bbx-fd-ncb {
    margin-top: 25px !important;
    padding-right: 5px !important;
}

nb-form-field {
    max-width: 100% !important;
}

form {
    height: calc(100vh - 50px - 100px);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: stretch;
    align-content: stretch;

    margin-top: 25px;
    padding-right: 10px;

    overflow-y: scroll;

    .bbx-fd-form-field-wrapper-div-row {
        display: flex;

        column-gap: 20px;

        justify-content: flex-start;

        .bbx-fd-form-field-inner-div-2 {
            display: flex;

            flex-direction: row;
            flex-wrap: nowrap;

            align-content: center;
            justify-content: space-between;
            align-items: baseline;

            column-gap: 20px;

            input {
                @extend .input-type-1;
            }

            input[type="checkbox"] {
                @extend .input-type-1-checkbox;
            }
        }

        .bbx-fd-form-field-inner-div-first {
            label {
                @extend .label-type-1;
            }
        }
    }

    .bbx-fd-form-field-inner-div {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;

        align-content: center;
        justify-content: space-between;
        align-items: baseline;

        column-gap: 20px;

        input {
            @extend .input-type-1;
        }

        input[type="checkbox"] {
            @extend .input-type-1-checkbox;
        }

        label {
            @extend .label-type-1;
        }
    }
}

.bbx-fd-checkbox-outer-div {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    align-content: center;
    align-items: baseline;

    column-gap: 20px;

    width: 600px;

    margin-bottom: 10px;
}

$colSizeLimit: 80;

@for $i from 0 through $colSizeLimit {
    .bbx-fd-form-field-#{$i} {
        width: (0% + $i) !important;
    }
}

.bbx-fd-form-field-30 {
    width: 30% !important;
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 27, 88, 0.767) !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(85, 84, 180, 0.966) !important;
}
